{
  "openapi": "3.0.0",
  "info": {
    "title": "IGDB API",
    "version": "4.0.0",
    "contact": {
      "name": "IGDB Support",
      "url": "https://www.igdb.com/contact",
      "email": "support@igdb.com"
    },
    "license": {
      "url": "https://www.twitch.tv/p/legal/developer-agreement/",
      "name": "Twitch Developer Services Agreement"
    },
    "description": "\"One of the principles behind IGDB.com is accessibility of data. We wish to share the data with anyone who wants to build cool video game oriented websites, apps and services.\n\nThis means that you are not only contributing to the value of IGDB but to thousands of other projects as well. We are looking forward to see what exciting game related projects you come up with. Happy coding!\"\n\nThis OpenAPI documentation and schema project is unofficial and made by [s-crypt.](https://github.com/s-crypt)  \nThe source code is [available here](https://github.com/s-crypt/IGDB-OpenAPI)  \n\nIssues and pull requests are welcome!",
    "termsOfService": "https://www.twitch.tv/p/en/legal/terms-of-service/"
  },
  "externalDocs": {
    "url": "https://api-docs.igdb.com"
  },
  "servers": [
    {
      "url": "https://api.igdb.com/v4",
      "description": "The main base URL for the IGDB API",
      "variables": {}
    },
    {
      "url": "https://id.twitch.tv/oauth2/token?client_id={client_id}&client_secret={client_secret}&grant_type=client_credentials",
      "description": "Twitch Developer Authentication. Only used to obtain an access token for the IGDB API",
      "variables": {
        "client_id": {
          "default": "abcdefg12345"
        },
        "client_secret": {
          "default": "hijklmn67890"
        }
      }
    }
  ],
  "paths": {
    "/age_ratings": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Age Rating according to various rating organizations",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,content_descriptions,rating,rating_cover_url,synopsis;"
            }
          }
        },
        "operationId": "RetrieveAgeRating",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgeRating"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/?shell#age-rating"
        }
      }
    },
    "/age_rating_content_descriptions": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Age Rating Descriptors",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,description;"
            }
          }
        },
        "operationId": "RetrieveAgeRatingContentDescription",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgeRatingContentDescription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#age-rating-content-description"
        }
      }
    },
    "/alternative_names": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Alternative and international game titles",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,comment,game,name;"
            }
          }
        },
        "operationId": "RetrieveAlternativeNames",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlternativeNames"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#alternative-name"
        }
      }
    },
    "/artworks": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Official artworks (resolution and aspect ratio may vary)",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields alpha_channel,animated,checksum,game,height,image_id,url,width;"
            }
          }
        },
        "operationId": "RetreiveArtwork",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artwork"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#artwork"
        }
      }
    },
    "/characters": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Video game characters",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields akas,checksum,country_name,created_at,description,games,gender,mug_shot,name,slug,species,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveCharacter",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Character"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#character"
        }
      }
    },
    "/character_mug_shots": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Images depicting game characters",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields alpha_channel,animated,checksum,height,image_id,url,width;"
            }
          }
        },
        "operationId": "RetreiveCharacterMugShot",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CharacterMugShot"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#character-mug-shot"
        }
      }
    },
    "/collections": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Collection, AKA Series",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields as_child_relations,as_parent_relations,checksum,created_at,games,name,slug,type,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveCollection",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#collection"
        }
      }
    },
    "/collection_memberships": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "The Collection Memberships.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,collection,created_at,game,type,updated_at;"
            }
          }
        },
        "operationId": "RetreiveCollectionMembership",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionMembership"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#collection-membership"
        }
      }
    },
    "/collection_membership_types": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Enums for collection membership types.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,collection,created_at,game,type,updated_at;"
            }
          }
        },
        "operationId": "RetreiveCollectionMembershipType",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionMembershipType"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#collection-membership-type"
        }
      }
    },
    "/collection_relations": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Describes Relationship between Collections.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,child_collection,created_at,parent_collection,type,updated_at;"
            }
          }
        },
        "operationId": "RetreiveCollectionRelation",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionRelation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#collection-relation"
        }
      }
    },
    "/collection_relation_types": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Collection Relation Types",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields allowed_child_type,allowed_parent_type,checksum,created_at,description,name,updated_at;"
            }
          }
        },
        "operationId": "RetreiveCollectionRelationType",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionRelationType"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#collection-relation-type"
        }
      }
    },
    "/collection_types": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Enums for collection types.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,description,name,updated_at;"
            }
          }
        },
        "operationId": "RetreiveCollectionType",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionType"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#collection-type"
        }
      }
    },
    "/companies": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Video game companies. Both publishers & developers",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields change_date,change_date_category,changed_company_id,checksum,country,created_at,description,developed,logo,name,parent,published,slug,start_date,start_date_category,updated_at,url,websites;"
            }
          }
        },
        "operationId": "RetreiveCompany",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#company"
        }
      }
    },
    "/company_logos": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "The logos of developers and publishers",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields alpha_channel,animated,checksum,height,image_id,url,width;"
            }
          }
        },
        "operationId": "RetreiveCompanyLogo",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyLogo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#company-logo"
        }
      }
    },
    "/company_websites": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Company Websites",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,trusted,url;"
            }
          }
        },
        "operationId": "RetreiveCompanyWebsite",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyWebsite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#company-website"
        }
      }
    },
    "/covers": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "The cover art of games",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields alpha_channel,animated,checksum,game,game_localization,height,image_id,url,width;"
            }
          }
        },
        "operationId": "RetreiveCover",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cover"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#cover"
        }
      }
    },
    "/events": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Gaming event like GamesCom, Tokyo Game Show, PAX or GSL",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,description,end_time,event_logo,event_networks,games,live_stream_url,name,slug,start_time,time_zone,updated_at,videos;"
            }
          }
        },
        "operationId": "RetreiveEvents",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#event"
        }
      }
    },
    "/event_logos": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Logo for the event",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields alpha_channel,animated,checksum,created_at,event,height,image_id,updated_at,url,width;"
            }
          }
        },
        "operationId": "RetreiveEventLogo",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventLogo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#event-logo"
        }
      }
    },
    "/event_networks": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Urls related to the event like twitter, facebook and youtube",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,event,network_type,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveEventNetwork",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventNetwork"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#event-network"
        }
      }
    },
    "/franchises": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "A list of video game franchises such as Star Wars.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,games,name,slug,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveFranchise",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Franchise"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#franchise"
        }
      }
    },
    "/games": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Video Games!",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields age_ratings,aggregated_rating,aggregated_rating_count,alternative_names,artworks,bundles,category,checksum,collection,collections,cover,created_at,dlcs,expanded_games,expansions,external_games,first_release_date,follows,forks,franchise,franchises,game_engines,game_localizations,game_modes,genres,hypes,involved_companies,keywords,language_supports,multiplayer_modes,name,parent_game,platforms,player_perspectives,ports,rating,rating_count,release_dates,remakes,remasters,screenshots,similar_games,slug,standalone_expansions,status,storyline,summary,tags,themes,total_rating,total_rating_count,updated_at,url,version_parent,version_title,videos,websites;"
            }
          }
        },
        "operationId": "RetreiveGames",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Games"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#game"
        }
      }
    },
    "/game_engines": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Video game engines such as unreal engine.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,companies,created_at,description,logo,name,platforms,slug,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveGameEngine",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameEngine"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#game-engine"
        }
      }
    },
    "/game_engine_logos": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "The logos of game engines",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields alpha_channel,animated,checksum,height,image_id,url,width;"
            }
          }
        },
        "operationId": "RetreiveGameEngineLogo",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameEngineLogo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#game-engine-logo"
        }
      }
    },
    "/external_games": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Game IDs on other services",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,countries,created_at,game,media,name,platform,uid,updated_at,url,year;"
            }
          }
        },
        "operationId": "RetreiveExternalGame",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalGame"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#external-game"
        }
      }
    },
    "/game_versions": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Details about game editions and versions.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,features,game,games,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveGameVersion",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameVersion"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#game-version"
        }
      }
    },
    "/game_modes": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Single player, Multiplayer etc",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,name,slug,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveGameMode",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameMode"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#game-mode"
        }
      }
    },
    "/game_version_features": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Features and descriptions of what makes each version/edition different from the main game",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,description,position,title,values;"
            }
          }
        },
        "operationId": "RetreiveVersionFeatures",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameVersionFeatures"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#game-version-feature"
        }
      }
    },
    "/game_version_feature_values": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "The bool/text value of the feature",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,game,game_feature,included_feature,note;"
            }
          }
        },
        "operationId": "RetreiveVersionFeatureValue",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameVersionFeatureValue"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#game-version-feature-value"
        }
      }
    },
    "/genres": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Genres of video game",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,name,slug,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveGenre",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Genre"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#genre"
        }
      }
    },
    "/involved_companies": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Companies involved with the game",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,company,created_at,developer,game,porting,publisher,supporting,updated_at;"
            }
          }
        },
        "operationId": "RetreiveInvolvedCompany",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvolvedCompany"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#involved-company"
        }
      }
    },
    "/game_videos": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "A video associated with a game",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,game,name,video_id;"
            }
          }
        },
        "operationId": "RetreiveGameVideo",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameVideo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#game-video"
        }
      }
    },
    "/keywords": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Keywords are words or phrases that get tagged to a game such as “world war 2” or “steampunk”.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,name,slug,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveKeyword",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Keyword"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#keyword"
        }
      }
    },
    "/languages": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Languages that are used in the Language Support endpoint.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,locale,name,native_name,updated_at;"
            }
          }
        },
        "operationId": "RetreiveLanguage",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Language"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#language"
        }
      }
    },
    "/game_localizations": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Game localization for a game",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,cover,created_at,game,name,region,updated_at;"
            }
          }
        },
        "operationId": "RetreiveGameLocalization",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameLocalization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#game-localization"
        }
      }
    },
    "/language_support_types": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Language Support Types contains the identifiers for the support types that Language Support uses.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,name,updated_at;"
            }
          }
        },
        "operationId": "RetreiveLanguageSupportType",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageSupportType"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#language-support-type"
        }
      }
    },
    "/multiplayer_modes": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Data about the supported multiplayer types",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields campaigncoop,checksum,dropin,game,lancoop,offlinecoop,offlinecoopmax,offlinemax,onlinecoop,onlinecoopmax,onlinemax,platform,splitscreen,splitscreenonline;"
            }
          }
        },
        "operationId": "RetreiveMultiplayerMode",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiplayerMode"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#multiplayer-mode"
        }
      }
    },
    "/language_supports": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Games can be played with different languages for voice acting, subtitles, or the interface language.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,game,language,language_support_type,updated_at;"
            }
          }
        },
        "operationId": "RetreiveLanguageSupport",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageSupport"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#language-support"
        }
      }
    },
    "/network_types": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Social networks related to the event like twitter, facebook and youtube",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,event_networks,name,updated_at;"
            }
          }
        },
        "operationId": "RetreiveNetworkType",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkType"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#network-type"
        }
      }
    },
    "/platform_families": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "A collection of closely related platforms",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,name,slug;"
            }
          }
        },
        "operationId": "RetreivePlatformFamily",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformFamily"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#platform-family"
        }
      }
    },
    "/platform_logos": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Logo for a platform",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields alpha_channel,animated,checksum,height,image_id,url,width;"
            }
          }
        },
        "operationId": "RetreivePlatformLogo",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformLogo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#platform-logo"
        }
      }
    },
    "/platform_versions": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "The platform's version",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,companies,connectivity,cpu,graphics,main_manufacturer,media,memory,name,online,os,output,platform_logo,platform_version_release_dates,resolutions,slug,sound,storage,summary,url;"
            }
          }
        },
        "operationId": "RetreivePlatformVersion",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformVersion"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#platform-version"
        }
      }
    },
    "/platform_version_companies": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "A platform developer",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,comment,company,developer,manufacturer;"
            }
          }
        },
        "operationId": "RetreivePlatformVersionCompany",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformVersionCompany"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#platform-version-company"
        }
      }
    },
    "/platforms": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "The hardware used to run the game or game delivery network",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields abbreviation,alternative_name,category,checksum,created_at,generation,name,platform_family,platform_logo,slug,summary,updated_at,url,versions,websites;"
            }
          }
        },
        "operationId": "RetreivePlatform",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Platform"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#platform"
        }
      }
    },
    "/platform_version_release_dates": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "A handy endpoint that extends platform release dates. Used to dig deeper into release dates, platforms and versions.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,created_at,date,human,m,platform_version,region,updated_at,y;"
            }
          }
        },
        "operationId": "RetreivePlatformVersionReleaseDate",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformVersionReleaseDate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#platform-version-release-date"
        }
      }
    },
    "/platform_websites": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "The main website for the platform",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,trusted,url;"
            }
          }
        },
        "operationId": "RetreivePlatformWebsite",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformWebsite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#platform-website"
        }
      }
    },
    "/player_perspectives": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Player perspectives describe the view/perspective of the player in a video game.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,name,slug,updated_at,url;"
            }
          }
        },
        "operationId": "RetreivePlayerPerspective",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerPerspective"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#player-perspective"
        }
      }
    },
    "/regions": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Region for game localization",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,created_at,identifier,name,updated_at;"
            }
          }
        },
        "operationId": "RetreiveRegion",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Region"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#region"
        }
      }
    },
    "/release_dates": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "A handy endpoint that extends game release dates. Used to dig deeper into release dates, platforms and versions.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,created_at,date,game,human,m,platform,region,status,updated_at,y;"
            }
          }
        },
        "operationId": "RetreiveReleaseDate",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseDate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#release-date"
        }
      }
    },
    "/release_date_statuses": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "An endpoint to provide definition of all of the current release date statuses.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,description,name,updated_at;"
            }
          }
        },
        "operationId": "RetreiveReleaseDateStatus",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseDateStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#release-date-status"
        }
      }
    },
    "/screenshots": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Screenshots of games",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields alpha_channel,animated,checksum,game,height,image_id,url,width;"
            }
          }
        },
        "operationId": "RetreiveScreenshot",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Screenshot"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#screenshot"
        }
      }
    },
    "/search": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Search IGDB!",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields alternative_name,character,checksum,collection,company,description,game,name,platform,published_at,test_dummy,theme; search \"zelda\";"
            }
          }
        },
        "operationId": "RetreiveSearch",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Search"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#search"
        }
      }
    },
    "/themes": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "Video game themes",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,name,slug,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveTheme",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Theme"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#theme"
        }
      }
    },
    "/websites": {
      "post": {
        "security": [
          {
            "Authorization_Key": []
          },
          {
            "Client-ID": []
          }
        ],
        "summary": "A website url, usually associated with a game",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,game,trusted,url;"
            }
          }
        },
        "operationId": "RetreiveWebsite",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Website"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/Responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/schemas/Responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/schemas/Responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#website"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgeRating": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "The IGDB object unique identifier"
          },
          "category": {
            "$ref": "#/components/schemas/AgeRatingCategoryEnums"
          },
          "content_descriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgeRatingContentDescription/properties/id"
            },
            "description": "Array of Age Rating Content Description IDs"
          },
          "rating": {
            "$ref": "#/components/schemas/AgeRatingEnums"
          },
          "rating_cover_url": {
            "type": "string",
            "description": "The url for the image of an age rating"
          },
          "synopsis": {
            "type": "string",
            "description": "A free text motivating a rating"
          },
          "checksum": {
            "type": "string",
            "format": "uuid",
            "description": "Hash of the object"
          }
        }
      },
      "AgeRatingCategoryEnums": {
        "description": "The organization that has issued a specific rating",
        "type": "number",
        "anyOf": [
          {
            "enum": [
              1
            ],
            "description": "ESRB"
          },
          {
            "enum": [
              2
            ],
            "description": "PEGI"
          },
          {
            "enum": [
              3
            ],
            "description": "CERO"
          },
          {
            "enum": [
              4
            ],
            "description": "USK"
          },
          {
            "enum": [
              5
            ],
            "description": "GRAC"
          },
          {
            "enum": [
              6
            ],
            "description": "CLASS_IND"
          },
          {
            "enum": [
              7
            ],
            "description": "ACB"
          }
        ]
      },
      "AgeRatingEnums": {
        "description": "The age rating assigned by the organization",
        "type": "number",
        "anyOf": [
          {
            "enum": [
              1
            ],
            "description": "Three"
          },
          {
            "enum": [
              2
            ],
            "description": "Seven"
          },
          {
            "enum": [
              3
            ],
            "description": "Twelve"
          },
          {
            "enum": [
              4
            ],
            "description": "Sixteen"
          },
          {
            "enum": [
              5
            ],
            "description": "Eighteen"
          },
          {
            "enum": [
              6
            ],
            "description": "RP"
          },
          {
            "enum": [
              7
            ],
            "description": "EC"
          },
          {
            "enum": [
              8
            ],
            "description": "E"
          },
          {
            "enum": [
              9
            ],
            "description": "E10"
          },
          {
            "enum": [
              10
            ],
            "description": "T"
          },
          {
            "enum": [
              11
            ],
            "description": "M"
          },
          {
            "enum": [
              12
            ],
            "description": "AO"
          },
          {
            "enum": [
              13
            ],
            "description": "CERO_A"
          },
          {
            "enum": [
              14
            ],
            "description": "CERO_B"
          },
          {
            "enum": [
              15
            ],
            "description": "CERO_C"
          },
          {
            "enum": [
              16
            ],
            "description": "CERO_D"
          },
          {
            "enum": [
              17
            ],
            "description": "CERO_Z"
          },
          {
            "enum": [
              18
            ],
            "description": "USK_0"
          },
          {
            "enum": [
              19
            ],
            "description": "USK_6"
          },
          {
            "enum": [
              20
            ],
            "description": "USK_12"
          },
          {
            "enum": [
              21
            ],
            "description": "USK_16"
          },
          {
            "enum": [
              22
            ],
            "description": "USK_18"
          },
          {
            "enum": [
              23
            ],
            "description": "GRAC_ALL"
          },
          {
            "enum": [
              24
            ],
            "description": "GRAC_Twelve"
          },
          {
            "enum": [
              25
            ],
            "description": "GRAC_Fifteen"
          },
          {
            "enum": [
              26
            ],
            "description": "GRAC_Eighteen"
          },
          {
            "enum": [
              27
            ],
            "description": "GRAC_TESTING"
          },
          {
            "enum": [
              28
            ],
            "description": "CLASS_IND_L"
          },
          {
            "enum": [
              29
            ],
            "description": "CLASS_IND_Ten"
          },
          {
            "enum": [
              30
            ],
            "description": "CLASS_IND_Twelve"
          },
          {
            "enum": [
              31
            ],
            "description": "CLASS_IND_Fourteen"
          },
          {
            "enum": [
              32
            ],
            "description": "CLASS_IND_Sixteen"
          },
          {
            "enum": [
              33
            ],
            "description": "CLASS_IND_Eighteen"
          },
          {
            "enum": [
              34
            ],
            "description": "ACB_G"
          },
          {
            "enum": [
              35
            ],
            "description": "ACB_PG"
          },
          {
            "enum": [
              36
            ],
            "description": "ACB_M"
          },
          {
            "enum": [
              37
            ],
            "description": "ACB_MA15"
          },
          {
            "enum": [
              38
            ],
            "description": "ACB_R18"
          },
          {
            "enum": [
              39
            ],
            "description": "ACB_RC"
          }
        ]
      },
      "AgeRatingContentDescription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "The IGDB object unique identifier"
          },
          "category": {
            "$ref": "#/components/schemas/AgeRatingContentDescriptionCategoryEnums"
          },
          "description": {
            "type": "string",
            "description": "A string containing the age rating content descriptions"
          },
          "checksum": {
            "type": "string",
            "description": "Hash of the object"
          }
        }
      },
      "AgeRatingContentDescriptionCategoryEnums": {
        "type": "number",
        "description": "The age rating content description enums",
        "anyOf": [
          {
            "enum": [
              1
            ],
            "description": "ESRB_alcohol_reference"
          },
          {
            "enum": [
              2
            ],
            "description": "ESRB_animated_blood"
          },
          {
            "enum": [
              3
            ],
            "description": "ESRB_blood"
          },
          {
            "enum": [
              4
            ],
            "description": "ESRB_blood_and gore"
          },
          {
            "enum": [
              5
            ],
            "description": "ESRB_cartoon_violence"
          },
          {
            "enum": [
              6
            ],
            "description": "ESRB_comic_mischief"
          },
          {
            "enum": [
              7
            ],
            "description": "ESRB_crude_humor"
          },
          {
            "enum": [
              8
            ],
            "description": "ESRB_drug_reference"
          },
          {
            "enum": [
              9
            ],
            "description": "ESRB_fantasy_violence"
          },
          {
            "enum": [
              10
            ],
            "description": "ESRB_intense_violence"
          },
          {
            "enum": [
              11
            ],
            "description": "ESRB_language"
          },
          {
            "enum": [
              12
            ],
            "description": "ESRB_lyrics"
          },
          {
            "enum": [
              13
            ],
            "description": "ESRB_mature_humor"
          },
          {
            "enum": [
              14
            ],
            "description": "ESRB_nudity"
          },
          {
            "enum": [
              15
            ],
            "description": "ESRB_partial_nudity"
          },
          {
            "enum": [
              16
            ],
            "description": "ESRB_real_gambling"
          },
          {
            "enum": [
              17
            ],
            "description": "ESRB_sexual_content"
          },
          {
            "enum": [
              18
            ],
            "description": "ESRB_sexual_themes"
          },
          {
            "enum": [
              19
            ],
            "description": "ESRB_sexual_violence"
          },
          {
            "enum": [
              20
            ],
            "description": "ESRB_simulated_gambling"
          },
          {
            "enum": [
              21
            ],
            "description": "ESRB_strong_language"
          },
          {
            "enum": [
              22
            ],
            "description": "ESRB_strong_lyrics"
          },
          {
            "enum": [
              23
            ],
            "description": "ESRB_strong_sexual content"
          },
          {
            "enum": [
              24
            ],
            "description": "ESRB_suggestive_themes"
          },
          {
            "enum": [
              25
            ],
            "description": "ESRB_tobacco_reference"
          },
          {
            "enum": [
              26
            ],
            "description": "ESRB_use_of alcohol"
          },
          {
            "enum": [
              27
            ],
            "description": "ESRB_use_of drugs"
          },
          {
            "enum": [
              28
            ],
            "description": "ESRB_use_of tobacco"
          },
          {
            "enum": [
              29
            ],
            "description": "ESRB_violence"
          },
          {
            "enum": [
              30
            ],
            "description": "ESRB_violent_references"
          },
          {
            "enum": [
              31
            ],
            "description": "ESRB_animated_violence"
          },
          {
            "enum": [
              32
            ],
            "description": "ESRB_mild_language"
          },
          {
            "enum": [
              33
            ],
            "description": "ESRB_mild_violence"
          },
          {
            "enum": [
              34
            ],
            "description": "ESRB_use_of drugs and alcohol"
          },
          {
            "enum": [
              35
            ],
            "description": "ESRB_drug_and alcohol reference"
          },
          {
            "enum": [
              36
            ],
            "description": "ESRB_mild_suggestive themes"
          },
          {
            "enum": [
              37
            ],
            "description": "ESRB_mild_cartoon violence"
          },
          {
            "enum": [
              38
            ],
            "description": "ESRB_mild_blood"
          },
          {
            "enum": [
              39
            ],
            "description": "ESRB_realistic_blood and gore"
          },
          {
            "enum": [
              40
            ],
            "description": "ESRB_realistic_violence"
          },
          {
            "enum": [
              41
            ],
            "description": "ESRB_alcohol_and tobacco reference"
          },
          {
            "enum": [
              42
            ],
            "description": "ESRB_mature_sexual themes"
          },
          {
            "enum": [
              43
            ],
            "description": "ESRB_mild_animated violence"
          },
          {
            "enum": [
              44
            ],
            "description": "ESRB_mild_sexual themes"
          },
          {
            "enum": [
              45
            ],
            "description": "ESRB_use_of alcohol and tobacco"
          },
          {
            "enum": [
              46
            ],
            "description": "ESRB_animated_blood and gore"
          },
          {
            "enum": [
              47
            ],
            "description": "ESRB_mild_fantasy violence"
          },
          {
            "enum": [
              48
            ],
            "description": "ESRB_mild_lyrics"
          },
          {
            "enum": [
              49
            ],
            "description": "ESRB_realistic_blood"
          },
          {
            "enum": [
              50
            ],
            "description": "PEGI_violence"
          },
          {
            "enum": [
              51
            ],
            "description": "PEGI_sex"
          },
          {
            "enum": [
              52
            ],
            "description": "PEGI_drugs"
          },
          {
            "enum": [
              53
            ],
            "description": "PEGI_fear"
          },
          {
            "enum": [
              54
            ],
            "description": "PEGI_discrimination"
          },
          {
            "enum": [
              55
            ],
            "description": "PEGI_bad_language"
          },
          {
            "enum": [
              56
            ],
            "description": "PEGI_gambling"
          },
          {
            "enum": [
              57
            ],
            "description": "PEGI_online_gameplay"
          },
          {
            "enum": [
              58
            ],
            "description": "PEGI_in_game_purchases"
          },
          {
            "enum": [
              59
            ],
            "description": "CERO_love"
          },
          {
            "enum": [
              60
            ],
            "description": "CERO_sexual_content"
          },
          {
            "enum": [
              61
            ],
            "description": "CERO_violence"
          },
          {
            "enum": [
              62
            ],
            "description": "CERO_horror"
[...]
