openapi: 3.0.0
info:
  title: IGDB API
  version: 4.0.0
  contact:
    name: IGDB Support
    url: https://www.igdb.com/contact
    email: support@igdb.com
  license:
    url: https://www.twitch.tv/p/legal/developer-agreement/
    name: Twitch Developer Services Agreement
  description: |
    This OpenAPI documentation and schema project IS IN BETA and maintained by [s-crypt.](https://github.com/s-crypt)

    The source code and more information is [available in the GitHub repository](https://github.com/s-crypt/IGDB-OpenAPI)

    Issues and pull requests are welcome! Please report any bugs or discrepancies you come across!
  termsOfService: https://www.twitch.tv/p/en/legal/terms-of-service/
externalDocs:
  url: https://api-docs.igdb.com
servers:
  - url: https://api.igdb.com/v4
    description: The main base URL for the IGDB API
paths:
  /age_ratings:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Age Rating according to various rating organizations
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields category,checksum,content_descriptions,rating,rating_cover_url,synopsis;
      operationId: RetrieveAgeRating
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgeRating"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/?shell#age-rating
  /age_rating_content_descriptions:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Age Rating Descriptors
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields category,checksum,description;
      operationId: RetrieveAgeRatingContentDescription
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgeRatingContentDescription"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#age-rating-content-description
  /alternative_names:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Alternative and international game titles
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,comment,game,name;
      operationId: RetrieveAlternativeNames
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlternativeNames"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#alternative-name
  /artworks:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Official artworks (resolution and aspect ratio may vary)
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields alpha_channel,animated,checksum,game,height,image_id,url,width;
      operationId: RetreiveArtwork
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Artwork"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#artwork
  /characters:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Video game characters
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields akas,checksum,country_name,created_at,description,games,gender,mug_shot,name,slug,species,updated_at,url;
      operationId: RetreiveCharacter
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Character"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#character
  /character_mug_shots:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Images depicting game characters
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields alpha_channel,animated,checksum,height,image_id,url,width;
      operationId: RetreiveCharacterMugShot
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterMugShot"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#character-mug-shot
  /collections:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Collection, AKA Series
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields as_child_relations,as_parent_relations,checksum,created_at,games,name,slug,type,updated_at,url;
      operationId: RetreiveCollection
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Collection"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#collection
  /collection_memberships:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: The Collection Memberships.
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,collection,created_at,game,type,updated_at;
      operationId: RetreiveCollectionMembership
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionMembership"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#collection-membership
  /collection_membership_types:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Enums for collection membership types.
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,collection,created_at,game,type,updated_at;
      operationId: RetreiveCollectionMembershipType
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionMembershipType"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#collection-membership-type
  /collection_relations:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Describes Relationship between Collections.
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,child_collection,created_at,parent_collection,type,updated_at;
      operationId: RetreiveCollectionRelation
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionRelation"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#collection-relation
  /collection_relation_types:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Collection Relation Types
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields allowed_child_type,allowed_parent_type,checksum,created_at,description,name,updated_at;
      operationId: RetreiveCollectionRelationType
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionRelationType"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#collection-relation-type
  /collection_types:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Enums for collection types.
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,created_at,description,name,updated_at;
      operationId: RetreiveCollectionType
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionType"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#collection-type
  /companies:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Video game companies. Both publishers & developers
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields change_date,change_date_category,changed_company_id,checksum,country,created_at,description,developed,logo,name,parent,published,slug,start_date,start_date_category,updated_at,url,websites;
      operationId: RetreiveCompany
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#company
  /company_logos:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: The logos of developers and publishers
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields alpha_channel,animated,checksum,height,image_id,url,width;
      operationId: RetreiveCompanyLogo
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyLogo"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#company-logo
  /company_websites:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Company Websites
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields category,checksum,trusted,url;
      operationId: RetreiveCompanyWebsite
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyWebsite"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#company-website
  /covers:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: The cover art of games
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields alpha_channel,animated,checksum,game,game_localization,height,image_id,url,width;
      operationId: RetreiveCover
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cover"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#cover
  /events:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Gaming event like GamesCom, Tokyo Game Show, PAX or GSL
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,created_at,description,end_time,event_logo,event_networks,games,live_stream_url,name,slug,start_time,time_zone,updated_at,videos;
      operationId: RetreiveEvents
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#event
  /event_logos:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Logo for the event
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields alpha_channel,animated,checksum,created_at,event,height,image_id,updated_at,url,width;
      operationId: RetreiveEventLogo
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventLogo"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#event-logo
  /event_networks:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Urls related to the event like twitter, facebook and youtube
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,created_at,event,network_type,updated_at,url;
      operationId: RetreiveEventNetwork
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventNetwork"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#event-network
  /franchises:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: A list of video game franchises such as Star Wars.
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,created_at,games,name,slug,updated_at,url;
      operationId: RetreiveFranchise
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Franchise"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#franchise
  /games:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Video Games!
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields age_ratings,aggregated_rating,aggregated_rating_count,alternative_names,artworks,bundles,category,checksum,collection,collections,cover,created_at,dlcs,expanded_games,expansions,external_games,first_release_date,follows,forks,franchise,franchises,game_engines,game_localizations,game_modes,genres,hypes,involved_companies,keywords,language_supports,multiplayer_modes,name,parent_game,platforms,player_perspectives,ports,rating,rating_count,release_dates,remakes,remasters,screenshots,similar_games,slug,standalone_expansions,status,storyline,summary,tags,themes,total_rating,total_rating_count,updated_at,url,version_parent,version_title,videos,websites;
      operationId: RetreiveGames
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Games"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#game
  /game_engines:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Video game engines such as unreal engine.
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,companies,created_at,description,logo,name,platforms,slug,updated_at,url;
      operationId: RetreiveGameEngine
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameEngine"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#game-engine
  /game_engine_logos:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: The logos of game engines
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields alpha_channel,animated,checksum,height,image_id,url,width;
      operationId: RetreiveGameEngineLogo
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameEngineLogo"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#game-engine-logo
  /external_games:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Game IDs on other services
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields category,checksum,countries,created_at,game,media,name,platform,uid,updated_at,url,year;
      operationId: RetreiveExternalGame
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalGame"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#external-game
  /game_versions:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Details about game editions and versions.
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,created_at,features,game,games,updated_at,url;
      operationId: RetreiveGameVersion
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameVersion"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#game-version
  /game_modes:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Single player, Multiplayer etc
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,created_at,name,slug,updated_at,url;
      operationId: RetreiveGameMode
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameMode"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#game-mode
  /game_version_features:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Features and descriptions of what makes each version/edition different from the main game
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields category,checksum,description,position,title,values;
      operationId: RetreiveVersionFeatures
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameVersionFeatures"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#game-version-feature
  /game_version_feature_values:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: The bool/text value of the feature
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,game,game_feature,included_feature,note;
      operationId: RetreiveVersionFeatureValue
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameVersionFeatureValue"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#game-version-feature-value
  /genres:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Genres of video game
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,created_at,name,slug,updated_at,url;
      operationId: RetreiveGenre
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Genre"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#genre
  /involved_companies:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Companies involved with the game
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,company,created_at,developer,game,porting,publisher,supporting,updated_at;
      operationId: RetreiveInvolvedCompany
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvolvedCompany"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#involved-company
  /game_videos:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: A video associated with a game
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,game,name,video_id;
      operationId: RetreiveGameVideo
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameVideo"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#game-video
  /keywords:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Keywords are words or phrases that get tagged to a game such as “world war 2” or “steampunk”.
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,created_at,name,slug,updated_at,url;
      operationId: RetreiveKeyword
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Keyword"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#keyword
  /languages:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Languages that are used in the Language Support endpoint.
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,created_at,locale,name,native_name,updated_at;
      operationId: RetreiveLanguage
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Language"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#language
  /game_localizations:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Game localization for a game
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,cover,created_at,game,name,region,updated_at;
      operationId: RetreiveGameLocalization
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameLocalization"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#game-localization
  /language_support_types:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Language Support Types contains the identifiers for the support types that Language Support uses.
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,created_at,name,updated_at;
      operationId: RetreiveLanguageSupportType
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LanguageSupportType"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#language-support-type
  /multiplayer_modes:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Data about the supported multiplayer types
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields campaigncoop,checksum,dropin,game,lancoop,offlinecoop,offlinecoopmax,offlinemax,onlinecoop,onlinecoopmax,onlinemax,platform,splitscreen,splitscreenonline;
      operationId: RetreiveMultiplayerMode
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MultiplayerMode"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#multiplayer-mode
  /language_supports:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Games can be played with different languages for voice acting, subtitles, or the interface language.
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,created_at,game,language,language_support_type,updated_at;
      operationId: RetreiveLanguageSupport
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LanguageSupport"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#language-support
  /network_types:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Social networks related to the event like twitter, facebook and youtube
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,created_at,event_networks,name,updated_at;
      operationId: RetreiveNetworkType
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NetworkType"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#network-type
  /platform_families:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: A collection of closely related platforms
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,name,slug;
      operationId: RetreivePlatformFamily
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformFamily"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#platform-family
  /platform_logos:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Logo for a platform
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields alpha_channel,animated,checksum,height,image_id,url,width;
      operationId: RetreivePlatformLogo
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformLogo"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#platform-logo
  /platform_versions:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: The platform's version
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,companies,connectivity,cpu,graphics,main_manufacturer,media,memory,name,online,os,output,platform_logo,platform_version_release_dates,resolutions,slug,sound,storage,summary,url;
      operationId: RetreivePlatformVersion
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformVersion"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#platform-version
  /platform_version_companies:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: A platform developer
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,comment,company,developer,manufacturer;
      operationId: RetreivePlatformVersionCompany
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformVersionCompany"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#platform-version-company
  /platforms:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: The hardware used to run the game or game delivery network
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields abbreviation,alternative_name,category,checksum,created_at,generation,name,platform_family,platform_logo,slug,summary,updated_at,url,versions,websites;
      operationId: RetreivePlatform
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Platform"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#platform
  /platform_version_release_dates:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: A handy endpoint that extends platform release dates. Used to dig deeper into release dates, platforms and versions.
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields category,checksum,created_at,date,human,m,platform_version,region,updated_at,y;
      operationId: RetreivePlatformVersionReleaseDate
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformVersionReleaseDate"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#platform-version-release-date
  /platform_websites:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: The main website for the platform
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields category,checksum,trusted,url;
      operationId: RetreivePlatformWebsite
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformWebsite"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#platform-website
  /player_perspectives:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Player perspectives describe the view/perspective of the player in a video game.
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,created_at,name,slug,updated_at,url;
      operationId: RetreivePlayerPerspective
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerPerspective"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#player-perspective
  /regions:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Region for game localization
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields category,checksum,created_at,identifier,name,updated_at;
      operationId: RetreiveRegion
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Region"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#region
  /release_dates:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: A handy endpoint that extends game release dates. Used to dig deeper into release dates, platforms and versions.
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields category,checksum,created_at,date,game,human,m,platform,region,status,updated_at,y;
      operationId: RetreiveReleaseDate
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReleaseDate"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#release-date
  /release_date_statuses:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: An endpoint to provide definition of all of the current release date statuses.
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,created_at,description,name,updated_at;
      operationId: RetreiveReleaseDateStatus
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReleaseDateStatus"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#release-date-status
  /screenshots:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Screenshots of games
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields alpha_channel,animated,checksum,game,height,image_id,url,width;
      operationId: RetreiveScreenshot
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Screenshot"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#screenshot
  /search:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Search IGDB!
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields alternative_name,character,checksum,collection,company,description,game,name,platform,published_at,test_dummy,theme; search "zelda";
      operationId: RetreiveSearch
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Search"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#search
  /themes:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: Video game themes
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields checksum,created_at,name,slug,updated_at,url;
      operationId: RetreiveTheme
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Theme"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#theme
  /websites:
    post:
      security:
        - TwitchOAuth: []
          Client-ID: []
      summary: A website url, usually associated with a game
      tags:
        - Endpoints
      parameters: []
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
            example: fields category,checksum,game,trusted,url;
      operationId: RetreiveWebsite
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Website"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AuthFailure"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      externalDocs:
        description: "Official documentation:"
        url: https://api-docs.igdb.com/#website
components:
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            description: Authorization Failure
            properties:
              title:
                type: string
              status:
                type: number
              cause:
                type: string
            example:
              title: Invalid Field
              status: 400
              example: "Invalid field name: 'checksums'"
    AuthFailure:
      description: Authorization Failure
      content:
        application/json:
          schema:
            type: object
            description: Authorization Failure
            properties:
              message:
                type: string
              "Tip 1":
                type: string
              "Tip 2":
                type: string
              "Tip 3":
                type: string
              Docs:
                type: string
                format: url
              Discord:
                type: string
                format: url
            example:
              message: "Authorization Failure. Have you tried:"
              "Tip 1": "Ensure you are sending Authorization and Client-ID as headers."
              "Tip 2": "Ensure Authorization value starts with 'Bearer ', including the space"
              "Tip 3": "Ensure Authorization value ends with the App Access Token you generated, NOT your Client Secret."
              Docs: "https://api-docs.igdb.com/#authentication"
              Discord: "https://discord.gg/FrvfwQg"
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            type: object
            description: Forbidden
            properties:
              title:
                type: string
              status:
                type: number
              cause:
                type: string
              details:
                type: string
            example:
              title: Forbidden
              status: 403
              cause: Reqest limit too high
              details: You typed in 2500 but your maximum is 500
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            description: Not Found
            properties:
              title:
                type: string
              status:
                type: number
              type:
                type: string
              details:
                type: string
            example:
              title: Not Found
              status: 404
              type: https://javalin.io/documentation#notfoundresponse
              details: {}
  schemas:
    AgeRating:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        category:
          $ref: "#/components/schemas/AgeRatingCategoryEnums"
        content_descriptions:
          type: array
          items:
            $ref: "#/components/schemas/AgeRatingContentDescription/properties/id"
          description: Array of Age Rating Content Description IDs
        rating:
          $ref: "#/components/schemas/AgeRatingEnums"
        rating_cover_url:
          type: string
          description: The url for the image of an age rating
        synopsis:
          type: string
          description: A free text motivating a rating
        checksum:
          type: string
          format: uuid
          description: Hash of the object
    AgeRatingCategoryEnums:
      type: integer
      format: int32
      enum: [1, 2, 3, 4, 5, 6, 7]
      x-enum-varnames:
        - ESRB
        - PEGI
        - CERO
        - USK
        - GRAC
        - CLASS_IND
        - ACB
      x-enum-descriptions:
        - 'ESRB'
        - 'PEGI'
        - 'CERO'
        - 'USK'
        - 'GRAC'
        - 'CLASS_IND'
        - 'ACB'
      description: |
        The organization that has issued a specific rating  
        1: ESRB  
        2: PEGI  
        3: CERO  
        4: USK  
        5: GRAC  
        6: CLASS_IND  
        7: ACB  
    AgeRatingEnums:
      type: integer
      format: int32
      enum: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]
      x-enum-varnames:
        - Three
        - Seven
        - Twelve
        - Sixteen
        - Eighteen
        - RP
        - EC
        - E
        - E10
        - T
        - M
        - AO
        - CERO_A
        - CERO_B
        - CERO_C
        - CERO_D
        - CERO_Z
        - USK_0
        - USK_6
        - USK_12
        - USK_16
        - USK_18
        - GRAC_ALL
        - GRAC_Twelve
        - GRAC_Fifteen
        - GRAC_Eighteen
        - GRAC_TESTING
        - CLASS_IND_L
        - CLASS_IND_Ten
        - CLASS_IND_Twelve
        - CLASS_IND_Fourteen
        - CLASS_IND_Sixteen
        - CLASS_IND_Eighteen
        - ACB_G
        - ACB_PG
        - ACB_M
        - ACB_MA15
        - ACB_R18
        - ACB_RC
      x-enum-descriptions:
        - 'Three'
        - 'Seven'
        - 'Twelve'
        - 'Sixteen'
        - 'Eighteen'
        - 'RP'
        - 'EC'
        - 'E'
        - 'E10'
        - 'T'
        - 'M'
        - 'AO'
        - 'CERO_A'
        - 'CERO_B'
        - 'CERO_C'
        - 'CERO_D'
        - 'CERO_Z'
        - 'USK_0'
        - 'USK_6'
        - 'USK_12'
        - 'USK_16'
        - 'USK_18'
        - 'GRAC_ALL'
        - 'GRAC_Twelve'
        - 'GRAC_Fifteen'
        - 'GRAC_Eighteen'
        - 'GRAC_TESTING'
        - 'CLASS_IND_L'
        - 'CLASS_IND_Ten'
        - 'CLASS_IND_Twelve'
        - 'CLASS_IND_Fourteen'
        - 'CLASS_IND_Sixteen'
        - 'CLASS_IND_Eighteen'
        - 'ACB_G'
        - 'ACB_PG'
        - 'ACB_M'
        - 'ACB_MA15'
        - 'ACB_R18'
        - 'ACB_RC'
      description: |
        The age rating assigned by the organization  
        1: Three  
        2: Seven  
        3: Twelve  
        4: Sixteen  
        5: Eighteen  
        6: RP  
        7: EC  
        8: E  
        9: E10  
        10: T  
        11: M  
        12: AO  
        13: CERO_A  
        14: CERO_B  
        15: CERO_C  
        16: CERO_D  
        17: CERO_Z  
        18: USK_0  
        19: USK_6  
        20: USK_12  
        21: USK_16  
        22: USK_18  
        23: GRAC_ALL  
        24: GRAC_Twelve  
        25: GRAC_Fifteen  
        26: GRAC_Eighteen  
        27: GRAC_TESTING  
        28: CLASS_IND_L  
        29: CLASS_IND_Ten  
        30: CLASS_IND_Twelve  
        31: CLASS_IND_Fourteen  
        32: CLASS_IND_Sixteen  
        33: CLASS_IND_Eighteen  
        34: ACB_G  
        35: ACB_PG  
        36: ACB_M  
        37: ACB_MA15  
        38: ACB_R18  
        39: ACB_RC  
    AgeRatingContentDescription:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        category:
          $ref: "#/components/schemas/AgeRatingContentDescriptionCategoryEnums"
        description:
          type: string
          description: A string containing the age rating content descriptions
        checksum:
          type: string
          description: Hash of the object
    AgeRatingContentDescriptionCategoryEnums:
      type: integer
      format: int32
      enum: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85]
      x-enum-varnames:
        - ESRB_alcohol_reference
        - ESRB_animated_blood
        - ESRB_blood
        - ESRB_blood_and_gore
        - ESRB_cartoon_violence
        - ESRB_comic_mischief
        - ESRB_crude_humor
        - ESRB_drug_reference
        - ESRB_fantasy_violence
        - ESRB_intense_violence
        - ESRB_language
        - ESRB_lyrics
        - ESRB_mature_humor
        - ESRB_nudity
        - ESRB_partial_nudity
        - ESRB_real_gambling
        - ESRB_sexual_content
        - ESRB_sexual_themes
        - ESRB_sexual_violence
        - ESRB_simulated_gambling
        - ESRB_strong_language
        - ESRB_strong_lyrics
        - ESRB_strong_sexual_content
        - ESRB_suggestive_themes
        - ESRB_tobacco_reference
        - ESRB_use_of_alcohol
        - ESRB_use_of_drugs
        - ESRB_use_of_tobacco
        - ESRB_violence
        - ESRB_violent_references
        - ESRB_animated_violence
        - ESRB_mild_language
        - ESRB_mild_violence
        - ESRB_use_of_drugs_and_alcohol
        - ESRB_drug_and_alcohol_reference
        - ESRB_mild_suggestive_themes
        - ESRB_mild_cartoon_violence
        - ESRB_mild_blood
        - ESRB_realistic_blood_and_gore
        - ESRB_realistic_violence
        - ESRB_alcohol_and_tobacco_reference
        - ESRB_mature_sexual_themes
        - ESRB_mild_animated_violence
        - ESRB_mild_sexual_themes
        - ESRB_use_of_alcohol_and_tobacco
        - ESRB_animated_blood_and_gore
        - ESRB_mild_fantasy violence
        - ESRB_mild_lyrics
        - ESRB_realistic_blood
        - PEGI_violence
        - PEGI_sex
        - PEGI_drugs
        - PEGI_fear
        - PEGI_discrimination
        - PEGI_bad_language
        - PEGI_gambling
        - PEGI_online_gameplay
        - PEGI_in_game_purchases
        - CERO_love
        - CERO_sexual_content
        - CERO_violence
        - CERO_horror
        - CERO_drinking_smoking
        - CERO_gambling
        - CERO_crime
        - CERO_controlled_substances
        - CERO_languages_and others
        - GRAC_sexuality
        - GRAC_violence
        - GRAC_fear_horror_threatening
        - GRAC_language
        - GRAC_alcohol_tobacco_drug
        - GRAC_crime_anti_social
        - GRAC_gambling
        - CLASS_IND_violencia
        - CLASS_IND_violencia_extrema
        - CLASS_IND_conteudo_sexual
        - CLASS_IND_nudez
        - CLASS_IND_sexo
        - CLASS_IND_sexo_explicito
        - CLASS_IND_drogas
        - CLASS_IND_drogas_licitas
        - CLASS_IND_drogas_ilicitas
        - CLASS_IND_linguagem_impropria
        - CLASS_IND_atos_criminosos
      x-enum-descriptions:
        - 'ESRB_alcohol_reference'
        - 'ESRB_animated_blood'
        - 'ESRB_blood'
        - 'ESRB_blood_and_gore'
        - 'ESRB_cartoon_violence'
        - 'ESRB_comic_mischief'
        - 'ESRB_crude_humor'
        - 'ESRB_drug_reference'
        - 'ESRB_fantasy_violence'
        - 'ESRB_intense_violence'
        - 'ESRB_language'
        - 'ESRB_lyrics'
        - 'ESRB_mature_humor'
        - 'ESRB_nudity'
        - 'ESRB_partial_nudity'
        - 'ESRB_real_gambling'
        - 'ESRB_sexual_content'
        - 'ESRB_sexual_themes'
        - 'ESRB_sexual_violence'
        - 'ESRB_simulated_gambling'
        - 'ESRB_strong_language'
        - 'ESRB_strong_lyrics'
        - 'ESRB_strong_sexual_content'
        - 'ESRB_suggestive_themes'
        - 'ESRB_tobacco_reference'
        - 'ESRB_use_of_alcohol'
        - 'ESRB_use_of_drugs'
        - 'ESRB_use_of_tobacco'
        - 'ESRB_violence'
        - 'ESRB_violent_references'
        - 'ESRB_animated_violence'
        - 'ESRB_mild_language'
        - 'ESRB_mild_violence'
        - 'ESRB_use_of_drugs_and_alcohol'
        - 'ESRB_drug_and_alcohol_reference'
        - 'ESRB_mild_suggestive_themes'
        - 'ESRB_mild_cartoon_violence'
        - 'ESRB_mild_blood'
        - 'ESRB_realistic_blood_and_gore'
        - 'ESRB_realistic_violence'
        - 'ESRB_alcohol_and_tobacco_reference'
        - 'ESRB_mature_sexual_themes'
        - 'ESRB_mild_animated_violence'
        - 'ESRB_mild_sexual_themes'
        - 'ESRB_use_of_alcohol_and_tobacco'
        - 'ESRB_animated_blood_and_gore'
        - 'ESRB_mild_fantasy violence'
        - 'ESRB_mild_lyrics'
        - 'ESRB_realistic_blood'
        - 'PEGI_violence'
        - 'PEGI_sex'
        - 'PEGI_drugs'
        - 'PEGI_fear'
        - 'PEGI_discrimination'
        - 'PEGI_bad_language'
        - 'PEGI_gambling'
        - 'PEGI_online_gameplay'
        - 'PEGI_in_game_purchases'
        - 'CERO_love'
        - 'CERO_sexual_content'
        - 'CERO_violence'
        - 'CERO_horror'
        - 'CERO_drinking_smoking'
        - 'CERO_gambling'
        - 'CERO_crime'
        - 'CERO_controlled_substances'
        - 'CERO_languages_and others'
        - 'GRAC_sexuality'
        - 'GRAC_violence'
        - 'GRAC_fear_horror_threatening'
        - 'GRAC_language'
        - 'GRAC_alcohol_tobacco_drug'
        - 'GRAC_crime_anti_social'
        - 'GRAC_gambling'
        - 'CLASS_IND_violencia'
        - 'CLASS_IND_violencia_extrema'
        - 'CLASS_IND_conteudo_sexual'
        - 'CLASS_IND_nudez'
        - 'CLASS_IND_sexo'
        - 'CLASS_IND_sexo_explicito'
        - 'CLASS_IND_drogas'
        - 'CLASS_IND_drogas_licitas'
        - 'CLASS_IND_drogas_ilicitas'
        - 'CLASS_IND_linguagem_impropria'
        - 'CLASS_IND_atos_criminosos'
      description: |
        The age rating content description enums  
        1: ESRB_alcohol_reference  
        2: ESRB_animated_blood  
        3: ESRB_blood  
        4: ESRB_blood_and gore  
        5: ESRB_cartoon_violence  
        6: ESRB_comic_mischief  
        7: ESRB_crude_humor  
        8: ESRB_drug_reference  
        9: ESRB_fantasy_violence  
        10: ESRB_intense_violence  
        11: ESRB_language  
        12: ESRB_lyrics  
        13: ESRB_mature_humor  
        14: ESRB_nudity  
        15: ESRB_partial_nudity  
        16: ESRB_real_gambling  
        17: ESRB_sexual_content  
        18: ESRB_sexual_themes  
        19: ESRB_sexual_violence  
        20: ESRB_simulated_gambling  
        21: ESRB_strong_language  
        22: ESRB_strong_lyrics  
        23: ESRB_strong_sexual content  
        24: ESRB_suggestive_themes  
        25: ESRB_tobacco_reference  
        26: ESRB_use_of alcohol  
        27: ESRB_use_of drugs  
        28: ESRB_use_of tobacco  
        29: ESRB_violence  
        30: ESRB_violent_references  
        31: ESRB_animated_violence  
        32: ESRB_mild_language  
        33: ESRB_mild_violence  
        34: ESRB_use_of drugs and alcohol  
        35: ESRB_drug_and alcohol reference  
        36: ESRB_mild_suggestive themes  
        37: ESRB_mild_cartoon violence  
        38: ESRB_mild_blood  
        39: ESRB_realistic_blood and gore  
        40: ESRB_realistic_violence  
        41: ESRB_alcohol_and tobacco reference  
        42: ESRB_mature_sexual themes  
        43: ESRB_mild_animated violence  
        44: ESRB_mild_sexual themes  
        45: ESRB_use_of alcohol and tobacco  
        46: ESRB_animated_blood and gore  
        47: ESRB_mild_fantasy violence  
        48: ESRB_mild_lyrics  
        49: ESRB_realistic_blood  
        50: PEGI_violence  
        51: PEGI_sex  
        52: PEGI_drugs  
        53: PEGI_fear  
        54: PEGI_discrimination  
        55: PEGI_bad_language  
        56: PEGI_gambling  
        57: PEGI_online_gameplay  
        58: PEGI_in_game_purchases  
        59: CERO_love  
        60: CERO_sexual_content  
        61: CERO_violence  
        62: CERO_horror  
        63: CERO_drinking_smoking  
        64: CERO_gambling  
        65: CERO_crime  
        66: CERO_controlled_substances  
        67: CERO_languages_and others  
        68: GRAC_sexuality  
        69: GRAC_violence  
        70: GRAC_fear_horror_threatening  
        71: GRAC_language  
        72: GRAC_alcohol_tobacco_drug  
        73: GRAC_crime_anti_social  
        74: GRAC_gambling  
        75: CLASS_IND_violencia  
        76: CLASS_IND_violencia_extrema  
        77: CLASS_IND_conteudo_sexual  
        78: CLASS_IND_nudez  
        79: CLASS_IND_sexo  
        80: CLASS_IND_sexo_explicito  
        81: CLASS_IND_drogas  
        82: CLASS_IND_drogas_licitas  
        83: CLASS_IND_drogas_ilicitas  
        84: CLASS_IND_linguagem_impropria  
        85: CLASS_IND_atos_criminosos  
    AlternativeNames:
      type: object
      description: Alternative and international game titles
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        comment:
          type: string
          description: >-
            A description of what kind of alternative name it is. (Acronym,
            Working title, Japanese title etc)
        game:
          $ref: "#/components/schemas/Games/properties/id"
        name:
          type: string
          description: An alternative name
        checksum:
          type: string
          format: uuid
          description: Hash of the object
    Artwork:
      type: object
      description: Official artworks. Resolution and aspect ratio may vary
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        alpha_channel:
          type: boolean
        animated:
          type: boolean
        game:
          $ref: "#/components/schemas/Games/properties/id"
        height:
          type: integer
          format: int32
          description: The height of the image in pixels
        image_id:
          type: string
          description: The ID of the image used to construct an IGDB image link
        url:
          type: string
          format: url
          description: The website address (URL) of the item
        width:
          type: integer
          format: int32
          description: The width of the image in pixels
        checksum:
          type: string
          format: uuid
          description: Hash of the object
    Character:
      type: object
      description: Video game characters
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        akas:
          type: array
          items:
            type: string
          description: Alternative names for a character
        country_name:
          type: string
          description: A Character's country of origin
        created_at:
          type: number
          format: timestamp
          description: Date this was initally added to the IGDB database
        description:
          type: string
          description: Text describing a character
        games:
          type: array
          items:
            $ref: "#/components/schemas/Games/properties/id"
        gender:
          $ref: "#/components/schemas/CharacterGenderEnum"
        mug_shot:
          $ref: "#/components/schemas/CharacterMugShot/properties/id"
        name:
          type: string
          description: The character's name
        slug:
          type: string
          description: A url-safe, unique, lower-case version of the name
        species:
          $ref: "#/components/schemas/CharacterSpeciesEnum"
        updated_at:
          type: number
          format: timestamp
          description: The last date this entry was updated in the IGDB database
        url:
          type: string
          format: url
          description: The website address (URL) of the item
        checksum:
          type: string
          format: uuid
          description: Hash of the object
    CharacterGenderEnum:
      type: integer
      format: int32
      enum: [0, 1, 2]
      x-enum-varnames:
        - Male
        - Female
        - Other
      x-enum-descriptions:
        - 'male'
        - 'female'
        - 'other'
      description: |
        An Enum of the character's gender  
        0: Male  
        1: Female  
        2: Other  
    CharacterSpeciesEnum:
      type: integer
      format: int32
      enum: [1, 2, 3]
      x-enum-varnames:
        - Human
        - Alien
        - Animal
      x-enum-descriptions:
        - 'human'
        - 'alien'
        - 'animal'
      description: |
        An enum of the Character's species  
        1: Human  
        2: Alien  
        3: Animal  
    CharacterMugShot:
      type: object
      description: Images depicting game characters
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        alpha_channel:
          type: boolean
        animated:
          type: boolean
        height:
          type: integer
          format: int32
          description: The height of the image in pixels
        image_id:
          type: string
          description: The ID of the image used to construct an IGDB image link
        url:
          type: string
          format: url
          description: The website address (URL) of the item
        width:
          type: integer
          format: int32
          description: The width of the image in pixels
        checksum:
          type: string
          format: uuid
          description: Hash of the object
    Collection:
      type: object
      description: Collection, AKA Series
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        as_child_relations:
          type: array
          items:
            $ref: "#/components/schemas/CollectionRelation/properties/id"
        as_parent_relations:
          type: array
          items:
            $ref: "#/components/schemas/CollectionRelation/properties/id"
        created_at:
          type: number
          format: timestamp
          description: Date this was initally added to the IGDB database
        games:
          type: array
          items:
            $ref: "#/components/schemas/Games/properties/id"
        name:
          type: string
          description: Umbrella term for a collection of games
        slug:
          type: string
          description: A url-safe, unique, lower-case version of the name
        type:
          $ref: "#/components/schemas/CollectionType/properties/id"
        updated_at:
          type: number
          format: timestamp
          description: The last date this entry was updated in the IGDB database
        url:
          type: string
          format: url
          description: The website address (URL) of the item
        checksum:
          type: string
          format: uuid
          description: Hash of the object
    CollectionMembership:
      type: object
      description: The collection memberships
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        game:
          $ref: "#/components/schemas/Games/properties/id"
        collection:
          type: string
          description: Reference ID for Collection
        type:
          $ref: "#/components/schemas/CollectionMembershipType/properties/id"
        updated_at:
          type: number
          format: url
          description: The last date this entry was updated in the IGDB database
        created_at:
          type: number
          format: timestamp
          description: Date this was initally added to the IGDB database
        checksum:
          type: string
          format: uuid
          description: Hash of the object
    CollectionMembershipType:
      type: object
      description: Enums for collection membership type
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        allowed_collection_type:
          $ref: "#/components/schemas/CollectionType/properties/id"
        checksum:
          type: string
          description: Hash of the object
        created_at:
          type: number
          description: Date this was initally added to the IGDB database
        description:
          type: string
          description: Description of the membership type
        name:
          type: string
          description: The membership type name
        updated_at:
          type: number
          description: The last date this entry was updated in the IGDB database
    CollectionRelation:
      type: object
      description: Describes relationship between collections
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        child_collection:
          $ref: "#/components/schemas/Collection/properties/id"
        created_at:
          type: number
          format: timestamp
          description: Date this was initally added to the IGDB database
        parent_collection:
          $ref: "#/components/schemas/Collection/properties/id"
        type:
          $ref: "#/components/schemas/CollectionRelationType/properties/id"
        updated_at:
          type: number
          format: timestamp
          description: The last date this entry was updated in the IGDB database
        checksum:
          type: string
          format: uuid
          description: Hash of the object
    CollectionRelationType:
      type: object
      description: Enums for collection membership type
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        name:
          type: string
          description: The membership type name
        description:
          type: string
          description: Description of the membership type
        allowed_child_type:
          $ref: "#/components/schemas/CollectionType/properties/id"
        allowed_parent_type:
          $ref: "#/components/schemas/CollectionType/properties/id"
        updated_at:
          type: number
          format: timestamp
          description: The last date this entry was updated in the IGDB database
        created_at:
          type: number
          format: timestamp
          description: Date this was initally added to the IGDB database
        checksum:
          type: string
          format: uuid
          description: Hash of the object
    CollectionType:
      type: object
      description: Enums for collection membership type
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        name:
          type: string
          description: The membership type name
        description:
          type: string
          description: Description of the membership type
        updated_at:
          type: number
          format: timestamp
          description: The last date this entry was updated in the IGDB database
        created_at:
          type: number
          format: timestamp
          description: Date this was initally added to the IGDB database
        checksum:
          type: string
          format: uuid
          description: Hash of the object
    Company:
      type: object
      description: Video game companies, both publishers and developers
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        change_date_category:
          $ref: "#/components/schemas/ChangeDateCategoryEnum"
        change_date:
          type: number
          format: timestamp
          description: The date when a compnay got a new ID
        changed_company_id:
          type: string
          description: The new ID for a company that has gone through a merger or restructuring
        country:
          type: integer
          format: int32
          description: ISO 3166-1 numeric country code
        created_at:
          type: number
          format: timestamp
          description: Date this was initally added to the IGDB database
        description:
          type: string
          description: A free text description of the company
        developed:
          type: array
          items:
            $ref: "#/components/schemas/Games/properties/id"
        logo:
          $ref: "#/components/schemas/CompanyLogo/properties/id"
        name:
          type: string
          description: The name of the company
        parent:
          $ref: "#/components/schemas/Company/properties/id"
        published:
          type: array
          items:
            $ref: "#/components/schemas/Games/properties/id"
        slug:
          type: string
          description: A url-safe, unique, lower-case version of the name
        start_date:
          type: number
          format: timestamp
          description: The date that the company was founded
        start_date_category:
          $ref: "#/components/schemas/StartDateCategoryEnum"
        updated_at:
          type: number
          format: timestamp
          description: The last date this entry was updated in the IGDB database
        url:
          type: string
          format: url
          description: The website address (URL) of the item
        websites:
          type: array
          items:
            $ref: "#/components/schemas/CompanyWebsite/properties/id"
        checksum:
          type: string
          format: uuid
          description: Hash of the object
    ChangeDateCategoryEnum:
      type: integer
      format: int32
      enum: [0, 1, 2, 3, 4, 5, 6, 7]
      x-enum-varnames:
        - YYYYMMMMDD
        - YYYYMMMM
        - YYYY
        - YYYYQ1
        - YYYYQ2
        - YYYYQ3
        - YYYYQ4
        - TBD
      x-enum-descriptions:
        - 'YYYYMMMMDD'
        - 'YYYYMMMM'
        - 'YYYY'
        - 'YYYYQ1'
        - 'YYYYQ2'
        - 'YYYYQ3'
        - 'YYYYQ4'
        - 'TBD'
      description: |
        An enum of the date format  
        0: YYYYMMMMDD  
        1: YYYYMMMM  
        2: YYYY  
        3: YYYYQ1  
        4: YYYYQ2  
        5: YYYYQ3  
        6: YYYYQ4  
        7: TBD  
    StartDateCategoryEnum:
      type: integer
      format: int32
      enum: [0, 1, 2, 3, 4, 5, 6, 7]
      x-enum-varnames:
        - YYYYMMMMDD
        - YYYYMMMM
        - YYYY
        - YYYYQ1
        - YYYYQ2
        - YYYYQ3
        - YYYYQ4
        - TBD
      x-enum-descriptions:
        - 'YYYYMMMMDD'
        - 'YYYYMMMM'
        - 'YYYY'
        - 'YYYYQ1'
        - 'YYYYQ2'
        - 'YYYYQ3'
        - 'YYYYQ4'
        - 'TBD'
      description: |
        An enum of the date format  
        0: YYYYMMMMDD  
        1: YYYYMMMM  
        2: YYYY  
        3: YYYYQ1  
        4: YYYYQ2  
        5: YYYYQ3  
        6: YYYYQ4  
        7: TBD  
    CompanyLogo:
      type: object
      description: The logos of developers and publishers
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        alpha_channel:
          type: boolean
        animated:
          type: boolean
        height:
          type: integer
          format: int32
          description: The height of the image in pixels
        image_id:
          type: string
          description: The ID of the image used to construct an IGDB image link
        url:
          type: string
          format: url
          description: The website address (URL) of the item
        width:
          type: integer
          format: int32
          description: The width of the image in pixels
        checksum:
          type: string
          format: uuid
          description: Hash of the object
    CompanyWebsite:
      type: object
      description: A company's website links
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        category:
          $ref: "#/components/schemas/CompanyWebsiteEnums"
        trusted:
          type: boolean
        url:
          type: string
          format: url
          description: The website address (URL) of the item
        checksum:
          type: string
          format: uuid
          description: Hash of the object
    CompanyWebsiteEnums:
      type: integer
      format: int32
      enum: [1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
      x-enum-varnames:
        - official
        - wikia
        - wikipedia
        - facebook
        - twitter
        - twitch
        - instagram
        - youtube
        - iphone
        - ipad
        - android
        - steam
        - reddit
        - itch
        - epicgames
        - gog
        - discord
      x-enum-descriptions:
        - 'official'
        - 'wikia'
        - 'wikipedia'
        - 'facebook'
        - 'twitter'
        - 'twitch'
        - 'instagram'
        - 'youtube'
        - 'iphone'
        - 'ipad'
        - 'android'
        - 'steam'
        - 'reddit'
        - 'itch'
        - 'epicgames'
        - 'gog'
        - 'discord'
      description: |
        An enum of the date format  
        1: official  
        2: wikia  
        3: wikipedia  
        4: facebook  
        5: twitter  
        6: twitch  
        8: instagram  
        9: youtube  
        10: iphone  
        11: ipad  
        12: android  
        13: steam  
        14: reddit  
        15: itch  
        16: epicgames  
        17: gog  
        18: discord  
    Cover:
      type: object
      description: The cover art of games
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        alpha_channel:
          type: boolean
        animated:
          type: boolean
        game:
          $ref: "#/components/schemas/Games/properties/id"
          description: The game this cover is associated with. If it is empty then this cover belongs to a game_localization, which can be found under game_localization field
        game_localization:
          type: string
          description: Reference ID for Game Localization this cover might be associated with
        height:
          type: integer
          format: int32
          description: The height of the image in pixels
        image_id:
          type: string
          description: The ID of the image used to construct an IGDB image link
        url:
          type: string
          format: url
          description: The website address (URL) of the item
        width:
          type: integer
          format: int32
          description: The width of the image in pixels
        checksum:
          type: string
          format: uuid
          description: Hash of the object
    Event:
      type: object
      description: Gaming events like GamesCom, Tokyo Game Show, PAX, or GSL
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        name:
          type: string
          description: The name of the event
        description:
          type: string
          description: The description of the event
        slug:
          type: string
          description: A url-safe, unique, lower-case version of the name
        event_logo:
          $ref: "#/components/schemas/EventLogo/properties/id"
        start_time:
          type: number
          format: timestamp
          description: Start time of the event in UTC
        end_time:
          type: number
          format: timestamp
          description: End time of the event in UTC
        time_zone:
          type: string
          description: Timezone the event is in.
        live_stream_url:
          type: string
          format: url
          description: URL to the livestream of the event.
        games:
          type: array
          items:
            $ref: "#/components/schemas/Games/properties/id"
        videos:
          type: array
          items:
            $ref: "#/components/schemas/GameVideo/properties/id"
        event_networks:
          type: array
          items:
            $ref: "#/components/schemas/EventNetwork/properties/id"
        created_at:
          type: number
          format: timestamp
          description: Date this was initially added to the IGDB database
        updated_at:
          type: number
          format: timestamp
          description: The last date this entry was updated in the IGDB database
        checksum:
          type: string
          format: uuid
          description: Hash of the object
    EventLogo:
      type: object
      description: Logo for the event
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        event:
          $ref: "#/components/schemas/Event/properties/id"
        alpha_channel:
          type: boolean
        animated:
          type: boolean
        height:
          type: integer
          format: int32
          description: The height of the image in pixels
        image_id:
          type: string
          description: The ID of the image used to construct an IGDB image link
        url:
          type: string
          format: url
          description: The website address (URL) of the item
        width:
          type: integer
          format: int32
          description: The width of the image in pixels
        updated_at:
          type: number
          format: timestamp
          description: The last date this entry was updated in the IGDB database
        created_at:
          type: number
          format: timestamp
          description: Date this was initially added to the IGDB database
        checksum:
          type: string
          format: uuid
          description: Hash of the object
    EventNetwork:
      type: object
      description: URLs related to the event like Twitter, Facebook, and Youtube
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        event:
          $ref: "#/components/schemas/Event/properties/id"
        url:
          type: string
          format: url
          description: The website address (URL) of the item
        network_type:
          $ref: "#/components/schemas/NetworkType/properties/id"
        created_at:
          type: number
          format: timestamp
          description: Date this was initially added to the IGDB database
        updated_at:
          type: number
          format: timestamp
          description: The last date this entry was updated in the IGDB database
        checksum:
          type: string
          format: uuid
          description: Hash of the object
    Franchise:
      type: object
      description: A list of video game franchises such as Star Wars
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        created_at:
          type: number
          format: timestamp
          description: Date this was initially added to the IGDB database
        games:
          type: array
          items:
            $ref: "#/components/schemas/Games/properties/id"
        name:
          type: string
          description: The name of the franchise
        slug:
          type: string
          description: A url-safe, unique, lower-case version of the name
        updated_at:
          type: number
          format: timestamp
          description: The last date this entry was updated in the IGDB database
        url:
          type: string
          format: url
          description: The website address (URL) of the item
        checksum:
          type: string
          format: uuid
          description: Hash of the object
    Games:
      type: object
      description: Video Games!
      properties:
        id:
          type: integer
          format: int32
          description: The IGDB object unique identifier
        age_ratings:
          type: array
          items:
            $ref: "#/components/schemas/AgeRatingEnums"
        aggregated_rating:
          type: number
          format: double
          description: Rating based on external critic scores
        aggregated_rating_count:
          type: integer
          format: int32
          description: Number of external critic scores
        alternative_names:
          type: array
          items:
            $ref: "#/components/schemas/AlternativeNames/properties/id"
        artworks:
          type: array
          items:
            $ref: "#/components/schemas/Artwork/properties/id"
        bundles:
          type: array
          items:
            $ref: "#/components/schemas/Games/properties/id"
        category:
          $ref: "#/components/schemas/GameCategoryEnums"
        collection:
          type: number
          format: int32
          description: DEPRRICATED - Use collections field. Reference ID for collection
          deprecated: true
        collections:
          type: array
          items:
            $ref: "#/components/schemas/Collection/properties/id"
        cover:
          $ref: "#/components/schemas/Cover/properties/id"
        created_at:
          type: number
          format: timestamp
          description: Date this was initially added to the IGDB database
        dlcs:
          type: array
          items:
            $ref: "#/components/schemas/Games/properties/id"
        expanded_games:
          type: array
          items:
            $ref: "#/components/schemas/Games/properties/id"
        expansions:
          type: array
          items:
            $ref: "#/components/schemas/Games/properties/id"
        external_games:
          type: array
          items:
            $ref: "#/components/schemas/ExternalGame/properties/id"
        follows:
          type: number
          format: int32
          description: DEPRECATED- TO BE REMOVED. The number of people following a game
          deprecated: true
        first_release_date:
          type: number
          format: timestamp
          description: The first release date for this game
        forks:
          type: array
          items:
            $ref: "#/components/schemas/Games/properties/id"
        franchise:
          type: string
          description: The main franchise
        franchises:
          type: array
          items:
            $ref: "#/components/schemas/Games/properties/id"
          description: Other franchises the game belongs to
        game_engines:
          type: array
          items:
[...]
