{
  "openapi": "3.0.0",
  "info": {
    "title": "IGDB API",
    "version": "4.0.0",
    "contact": {
      "name": "IGDB Support",
      "url": "https://www.igdb.com/contact",
      "email": "support@igdb.com"
    },
    "license": {
      "url": "https://www.twitch.tv/p/legal/developer-agreement/",
      "name": "Twitch Developer Services Agreement"
    },
    "description": "This OpenAPI documentation and schema project IS IN BETA and maintained by [s-crypt.](https://github.com/s-crypt)\n\nThe source code and more information is [available in the GitHub repository](https://github.com/s-crypt/IGDB-OpenAPI)\n\nIssues and pull requests are welcome! Please report any bugs or discrepancies you come across!\n",
    "termsOfService": "https://www.twitch.tv/p/en/legal/terms-of-service/"
  },
  "externalDocs": {
    "url": "https://api-docs.igdb.com"
  },
  "servers": [
    {
      "url": "https://api.igdb.com/v4",
      "description": "The main base URL for the IGDB API"
    }
  ],
  "paths": {
    "/age_ratings": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Age Rating according to various rating organizations",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,content_descriptions,rating,rating_cover_url,synopsis;"
            }
          }
        },
        "operationId": "RetrieveAgeRating",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgeRating"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/?shell#age-rating"
        }
      }
    },
    "/age_rating_content_descriptions": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Age Rating Descriptors",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,description;"
            }
          }
        },
        "operationId": "RetrieveAgeRatingContentDescription",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgeRatingContentDescription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#age-rating-content-description"
        }
      }
    },
    "/alternative_names": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Alternative and international game titles",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,comment,game,name;"
            }
          }
        },
        "operationId": "RetrieveAlternativeNames",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlternativeNames"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#alternative-name"
        }
      }
    },
    "/artworks": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Official artworks (resolution and aspect ratio may vary)",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields alpha_channel,animated,checksum,game,height,image_id,url,width;"
            }
          }
        },
        "operationId": "RetreiveArtwork",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artwork"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#artwork"
        }
      }
    },
    "/characters": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Video game characters",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields akas,checksum,country_name,created_at,description,games,gender,mug_shot,name,slug,species,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveCharacter",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Character"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#character"
        }
      }
    },
    "/character_mug_shots": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Images depicting game characters",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields alpha_channel,animated,checksum,height,image_id,url,width;"
            }
          }
        },
        "operationId": "RetreiveCharacterMugShot",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CharacterMugShot"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#character-mug-shot"
        }
      }
    },
    "/collections": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Collection, AKA Series",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields as_child_relations,as_parent_relations,checksum,created_at,games,name,slug,type,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveCollection",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#collection"
        }
      }
    },
    "/collection_memberships": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "The Collection Memberships.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,collection,created_at,game,type,updated_at;"
            }
          }
        },
        "operationId": "RetreiveCollectionMembership",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionMembership"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#collection-membership"
        }
      }
    },
    "/collection_membership_types": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Enums for collection membership types.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,collection,created_at,game,type,updated_at;"
            }
          }
        },
        "operationId": "RetreiveCollectionMembershipType",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionMembershipType"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#collection-membership-type"
        }
      }
    },
    "/collection_relations": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Describes Relationship between Collections.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,child_collection,created_at,parent_collection,type,updated_at;"
            }
          }
        },
        "operationId": "RetreiveCollectionRelation",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionRelation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#collection-relation"
        }
      }
    },
    "/collection_relation_types": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Collection Relation Types",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields allowed_child_type,allowed_parent_type,checksum,created_at,description,name,updated_at;"
            }
          }
        },
        "operationId": "RetreiveCollectionRelationType",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionRelationType"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#collection-relation-type"
        }
      }
    },
    "/collection_types": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Enums for collection types.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,description,name,updated_at;"
            }
          }
        },
        "operationId": "RetreiveCollectionType",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionType"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#collection-type"
        }
      }
    },
    "/companies": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Video game companies. Both publishers & developers",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields change_date,change_date_category,changed_company_id,checksum,country,created_at,description,developed,logo,name,parent,published,slug,start_date,start_date_category,updated_at,url,websites;"
            }
          }
        },
        "operationId": "RetreiveCompany",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#company"
        }
      }
    },
    "/company_logos": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "The logos of developers and publishers",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields alpha_channel,animated,checksum,height,image_id,url,width;"
            }
          }
        },
        "operationId": "RetreiveCompanyLogo",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyLogo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#company-logo"
        }
      }
    },
    "/company_websites": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Company Websites",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,trusted,url;"
            }
          }
        },
        "operationId": "RetreiveCompanyWebsite",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyWebsite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#company-website"
        }
      }
    },
    "/covers": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "The cover art of games",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields alpha_channel,animated,checksum,game,game_localization,height,image_id,url,width;"
            }
          }
        },
        "operationId": "RetreiveCover",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cover"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#cover"
        }
      }
    },
    "/events": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Gaming event like GamesCom, Tokyo Game Show, PAX or GSL",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,description,end_time,event_logo,event_networks,games,live_stream_url,name,slug,start_time,time_zone,updated_at,videos;"
            }
          }
        },
        "operationId": "RetreiveEvents",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#event"
        }
      }
    },
    "/event_logos": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Logo for the event",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields alpha_channel,animated,checksum,created_at,event,height,image_id,updated_at,url,width;"
            }
          }
        },
        "operationId": "RetreiveEventLogo",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventLogo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#event-logo"
        }
      }
    },
    "/event_networks": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Urls related to the event like twitter, facebook and youtube",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,event,network_type,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveEventNetwork",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventNetwork"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#event-network"
        }
      }
    },
    "/franchises": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "A list of video game franchises such as Star Wars.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,games,name,slug,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveFranchise",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Franchise"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#franchise"
        }
      }
    },
    "/games": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Video Games!",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields age_ratings,aggregated_rating,aggregated_rating_count,alternative_names,artworks,bundles,category,checksum,collection,collections,cover,created_at,dlcs,expanded_games,expansions,external_games,first_release_date,follows,forks,franchise,franchises,game_engines,game_localizations,game_modes,genres,hypes,involved_companies,keywords,language_supports,multiplayer_modes,name,parent_game,platforms,player_perspectives,ports,rating,rating_count,release_dates,remakes,remasters,screenshots,similar_games,slug,standalone_expansions,status,storyline,summary,tags,themes,total_rating,total_rating_count,updated_at,url,version_parent,version_title,videos,websites;"
            }
          }
        },
        "operationId": "RetreiveGames",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Games"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#game"
        }
      }
    },
    "/game_engines": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Video game engines such as unreal engine.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,companies,created_at,description,logo,name,platforms,slug,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveGameEngine",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameEngine"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#game-engine"
        }
      }
    },
    "/game_engine_logos": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "The logos of game engines",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields alpha_channel,animated,checksum,height,image_id,url,width;"
            }
          }
        },
        "operationId": "RetreiveGameEngineLogo",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameEngineLogo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#game-engine-logo"
        }
      }
    },
    "/external_games": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Game IDs on other services",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,countries,created_at,game,media,name,platform,uid,updated_at,url,year;"
            }
          }
        },
        "operationId": "RetreiveExternalGame",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalGame"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#external-game"
        }
      }
    },
    "/game_versions": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Details about game editions and versions.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,features,game,games,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveGameVersion",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameVersion"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#game-version"
        }
      }
    },
    "/game_modes": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Single player, Multiplayer etc",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,name,slug,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveGameMode",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameMode"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#game-mode"
        }
      }
    },
    "/game_version_features": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Features and descriptions of what makes each version/edition different from the main game",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,description,position,title,values;"
            }
          }
        },
        "operationId": "RetreiveVersionFeatures",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameVersionFeatures"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#game-version-feature"
        }
      }
    },
    "/game_version_feature_values": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "The bool/text value of the feature",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,game,game_feature,included_feature,note;"
            }
          }
        },
        "operationId": "RetreiveVersionFeatureValue",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameVersionFeatureValue"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#game-version-feature-value"
        }
      }
    },
    "/genres": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Genres of video game",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,name,slug,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveGenre",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Genre"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#genre"
        }
      }
    },
    "/involved_companies": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Companies involved with the game",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,company,created_at,developer,game,porting,publisher,supporting,updated_at;"
            }
          }
        },
        "operationId": "RetreiveInvolvedCompany",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvolvedCompany"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#involved-company"
        }
      }
    },
    "/game_videos": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "A video associated with a game",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,game,name,video_id;"
            }
          }
        },
        "operationId": "RetreiveGameVideo",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameVideo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#game-video"
        }
      }
    },
    "/keywords": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Keywords are words or phrases that get tagged to a game such as “world war 2” or “steampunk”.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,name,slug,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveKeyword",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Keyword"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#keyword"
        }
      }
    },
    "/languages": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Languages that are used in the Language Support endpoint.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,locale,name,native_name,updated_at;"
            }
          }
        },
        "operationId": "RetreiveLanguage",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Language"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#language"
        }
      }
    },
    "/game_localizations": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Game localization for a game",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,cover,created_at,game,name,region,updated_at;"
            }
          }
        },
        "operationId": "RetreiveGameLocalization",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameLocalization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#game-localization"
        }
      }
    },
    "/language_support_types": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Language Support Types contains the identifiers for the support types that Language Support uses.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,name,updated_at;"
            }
          }
        },
        "operationId": "RetreiveLanguageSupportType",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageSupportType"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#language-support-type"
        }
      }
    },
    "/multiplayer_modes": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Data about the supported multiplayer types",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields campaigncoop,checksum,dropin,game,lancoop,offlinecoop,offlinecoopmax,offlinemax,onlinecoop,onlinecoopmax,onlinemax,platform,splitscreen,splitscreenonline;"
            }
          }
        },
        "operationId": "RetreiveMultiplayerMode",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiplayerMode"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#multiplayer-mode"
        }
      }
    },
    "/language_supports": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Games can be played with different languages for voice acting, subtitles, or the interface language.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,game,language,language_support_type,updated_at;"
            }
          }
        },
        "operationId": "RetreiveLanguageSupport",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageSupport"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#language-support"
        }
      }
    },
    "/network_types": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Social networks related to the event like twitter, facebook and youtube",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,event_networks,name,updated_at;"
            }
          }
        },
        "operationId": "RetreiveNetworkType",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkType"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#network-type"
        }
      }
    },
    "/platform_families": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "A collection of closely related platforms",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,name,slug;"
            }
          }
        },
        "operationId": "RetreivePlatformFamily",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformFamily"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#platform-family"
        }
      }
    },
    "/platform_logos": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Logo for a platform",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields alpha_channel,animated,checksum,height,image_id,url,width;"
            }
          }
        },
        "operationId": "RetreivePlatformLogo",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformLogo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#platform-logo"
        }
      }
    },
    "/platform_versions": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "The platform's version",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,companies,connectivity,cpu,graphics,main_manufacturer,media,memory,name,online,os,output,platform_logo,platform_version_release_dates,resolutions,slug,sound,storage,summary,url;"
            }
          }
        },
        "operationId": "RetreivePlatformVersion",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformVersion"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#platform-version"
        }
      }
    },
    "/platform_version_companies": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "A platform developer",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,comment,company,developer,manufacturer;"
            }
          }
        },
        "operationId": "RetreivePlatformVersionCompany",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformVersionCompany"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#platform-version-company"
        }
      }
    },
    "/platforms": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "The hardware used to run the game or game delivery network",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields abbreviation,alternative_name,category,checksum,created_at,generation,name,platform_family,platform_logo,slug,summary,updated_at,url,versions,websites;"
            }
          }
        },
        "operationId": "RetreivePlatform",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Platform"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#platform"
        }
      }
    },
    "/platform_version_release_dates": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "A handy endpoint that extends platform release dates. Used to dig deeper into release dates, platforms and versions.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,created_at,date,human,m,platform_version,region,updated_at,y;"
            }
          }
        },
        "operationId": "RetreivePlatformVersionReleaseDate",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformVersionReleaseDate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#platform-version-release-date"
        }
      }
    },
    "/platform_websites": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "The main website for the platform",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,trusted,url;"
            }
          }
        },
        "operationId": "RetreivePlatformWebsite",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformWebsite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#platform-website"
        }
      }
    },
    "/player_perspectives": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Player perspectives describe the view/perspective of the player in a video game.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,name,slug,updated_at,url;"
            }
          }
        },
        "operationId": "RetreivePlayerPerspective",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerPerspective"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#player-perspective"
        }
      }
    },
    "/regions": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Region for game localization",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,created_at,identifier,name,updated_at;"
            }
          }
        },
        "operationId": "RetreiveRegion",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Region"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#region"
        }
      }
    },
    "/release_dates": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "A handy endpoint that extends game release dates. Used to dig deeper into release dates, platforms and versions.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,created_at,date,game,human,m,platform,region,status,updated_at,y;"
            }
          }
        },
        "operationId": "RetreiveReleaseDate",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseDate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#release-date"
        }
      }
    },
    "/release_date_statuses": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "An endpoint to provide definition of all of the current release date statuses.",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,description,name,updated_at;"
            }
          }
        },
        "operationId": "RetreiveReleaseDateStatus",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseDateStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#release-date-status"
        }
      }
    },
    "/screenshots": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Screenshots of games",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields alpha_channel,animated,checksum,game,height,image_id,url,width;"
            }
          }
        },
        "operationId": "RetreiveScreenshot",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Screenshot"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#screenshot"
        }
      }
    },
    "/search": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Search IGDB!",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields alternative_name,character,checksum,collection,company,description,game,name,platform,published_at,test_dummy,theme; search \"zelda\";"
            }
          }
        },
        "operationId": "RetreiveSearch",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Search"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#search"
        }
      }
    },
    "/themes": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "Video game themes",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields checksum,created_at,name,slug,updated_at,url;"
            }
          }
        },
        "operationId": "RetreiveTheme",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Theme"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#theme"
        }
      }
    },
    "/websites": {
      "post": {
        "security": [
          {
            "TwitchOAuth": [],
            "Client-ID": []
          }
        ],
        "summary": "A website url, usually associated with a game",
        "tags": [
          "Endpoints"
        ],
        "parameters": [],
        "requestBody": {
          "required": false,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "example": "fields category,checksum,game,trusted,url;"
            }
          }
        },
        "operationId": "RetreiveWebsite",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Website"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthFailure"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "externalDocs": {
          "description": "Official documentation:",
          "url": "https://api-docs.igdb.com/#website"
        }
      }
    }
  },
  "components": {
    "responses": {
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Authorization Failure",
              "properties": {
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "number"
                },
                "cause": {
                  "type": "string"
                }
              },
              "example": {
                "title": "Invalid Field",
                "status": 400,
                "example": "Invalid field name: 'checksums'"
              }
            }
          }
        }
      },
      "AuthFailure": {
        "description": "Authorization Failure",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Authorization Failure",
              "properties": {
                "message": {
                  "type": "string"
                },
                "Tip 1": {
                  "type": "string"
                },
                "Tip 2": {
                  "type": "string"
                },
                "Tip 3": {
                  "type": "string"
                },
                "Docs": {
                  "type": "string",
                  "format": "url"
                },
                "Discord": {
                  "type": "string",
                  "format": "url"
                }
              },
              "example": {
                "message": "Authorization Failure. Have you tried:",
                "Tip 1": "Ensure you are sending Authorization and Client-ID as headers.",
                "Tip 2": "Ensure Authorization value starts with 'Bearer ', including the space",
                "Tip 3": "Ensure Authorization value ends with the App Access Token you generated, NOT your Client Secret.",
                "Docs": "https://api-docs.igdb.com/#authentication",
                "Discord": "https://discord.gg/FrvfwQg"
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Forbidden",
              "properties": {
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "number"
                },
                "cause": {
                  "type": "string"
                },
                "details": {
                  "type": "string"
                }
              },
              "example": {
                "title": "Forbidden",
                "status": 403,
                "cause": "Reqest limit too high",
                "details": "You typed in 2500 but your maximum is 500"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Not Found",
              "properties": {
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "number"
                },
                "type": {
                  "type": "string"
                },
                "details": {
                  "type": "string"
                }
              },
              "example": {
                "title": "Not Found",
                "status": 404,
                "type": "https://javalin.io/documentation#notfoundresponse",
                "details": {}
              }
            }
          }
        }
      }
    },
    "schemas": {
      "AgeRating": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "The IGDB object unique identifier"
          },
          "category": {
            "$ref": "#/components/schemas/AgeRatingCategoryEnums"
          },
          "content_descriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgeRatingContentDescription/properties/id"
            },
            "description": "Array of Age Rating Content Description IDs"
          },
          "rating": {
            "$ref": "#/components/schemas/AgeRatingEnums"
          },
          "rating_cover_url": {
            "type": "string",
            "description": "The url for the image of an age rating"
          },
          "synopsis": {
            "type": "string",
            "description": "A free text motivating a rating"
          },
          "checksum": {
            "type": "string",
            "format": "uuid",
            "description": "Hash of the object"
          }
        }
      },
      "AgeRatingCategoryEnums": {
        "type": "integer",
        "format": "int32",
        "enum": [
          1,
          2,
          3,
          4,
          5,
          6,
          7
        ],
        "description": "The organization that has issued a specific rating  \n1: ESRB  \n2: PEGI  \n3: CERO  \n4: USK  \n5: GRAC  \n6: CLASS_IND  \n7: ACB  \n"
      },
      "AgeRatingEnums": {
        "type": "integer",
        "format": "int32",
        "enum": [
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          9,
          10,
          11,
          12,
          13,
          14,
          15,
          16,
          17,
          18,
          19,
          20,
          21,
          22,
          23,
          24,
          25,
          26,
          27,
          28,
          29,
          30,
          31,
          32,
          33,
          34,
          35,
          36,
          37,
          38,
          39
        ],
        "description": "The age rating assigned by the organization  \n1: Three  \n2: Seven  \n3: Twelve  \n4: Sixteen  \n5: Eighteen  \n6: RP  \n7: EC  \n8: E  \n9: E10  \n10: T  \n11: M  \n12: AO  \n13: CERO_A  \n14: CERO_B  \n15: CERO_C  \n16: CERO_D  \n17: CERO_Z  \n18: USK_0  \n19: USK_6  \n20: USK_12  \n21: USK_16  \n22: USK_18  \n23: GRAC_ALL  \n24: GRAC_Twelve  \n25: GRAC_Fifteen  \n26: GRAC_Eighteen  \n27: GRAC_TESTING  \n28: CLASS_IND_L  \n29: CLASS_IND_Ten  \n30: CLASS_IND_Twelve  \n31: CLASS_IND_Fourteen  \n32: CLASS_IND_Sixteen  \n33: CLASS_IND_Eighteen  \n34: ACB_G  \n35: ACB_PG  \n36: ACB_M  \n37: ACB_MA15  \n38: ACB_R18  \n39: ACB_RC  \n"
      },
      "AgeRatingContentDescription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "The IGDB object unique identifier"
          },
          "category": {
            "$ref": "#/components/schemas/AgeRatingContentDescriptionCategoryEnums"
          },
          "description": {
            "type": "string",
            "description": "A string containing the age rating content descriptions"
          },
          "checksum": {
            "type": "string",
            "description": "Hash of the object"
          }
        }
      },
      "AgeRatingContentDescriptionCategoryEnums": {
        "type": "integer",
        "format": "int32",
        "enum": [
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          9,
          10,
          11,
          12,
          13,
          14,
          15,
          16,
          17,
          18,
          19,
          20,
          21,
          22,
          23,
          24,
          25,
          26,
          27,
          28,
          29,
          30,
          31,
          32,
          33,
          34,
          35,
          36,
          37,
          38,
          39,
          40,
          41,
          42,
          43,
          44,
          45,
          46,
          47,
          48,
          49,
          50,
          51,
          52,
          53,
          54,
          55,
          56,
          57,
          58,
          59,
          60,
          61,
          62,
          63,
          64,
          65,
          66,
          67,
          68,
          69,
          70,
          71,
          72,
          73,
          74,
          75,
          76,
          77,
          78,
          79,
          80,
          81,
          82,
          83,
          84,
          85
        ],
        "description": "The age rating content description enums  \n1: ESRB_alcohol_reference  \n2: ESRB_animated_blood  \n3: ESRB_blood  \n4: ESRB_blood_and gore  \n5: ESRB_cartoon_violence  \n6: ESRB_comic_mischief  \n7: ESRB_crude_humor  \n8: ESRB_drug_reference  \n9: ESRB_fantasy_violence  \n10: ESRB_intense_violence  \n11: ESRB_language  \n12: ESRB_lyrics  \n13: ESRB_mature_humor  \n14: ESRB_nudity  \n15: ESRB_partial_nudity  \n16: ESRB_real_gambling  \n17: ESRB_sexual_content  \n18: ESRB_sexual_themes  \n19: ESRB_sexual_violence  \n20: ESRB_simulated_gambling  \n21: ESRB_strong_language  \n22: ESRB_strong_lyrics  \n23: ESRB_strong_sexual content  \n24: ESRB_suggestive_themes  \n25: ESRB_tobacco_reference  \n26: ESRB_use_of alcohol  \n27: ESRB_use_of drugs  \n28: ESRB_use_of tobacco  \n29: ESRB_violence  \n30: ESRB_violent_references  \n31: ESRB_animated_violence  \n32: ESRB_mild_language  \n33: ESRB_mild_violence  \n34: ESRB_use_of drugs and alcohol  \n35: ESRB_drug_and alcohol reference  \n36: ESRB_mild_suggestive themes  \n37: ESRB_mild_cartoon violence  \n38: ESRB_mild_blood  \n39: ESRB_realistic_blood and gore  \n40: ESRB_realistic_violence  \n41: ESRB_alcohol_and tobacco reference  \n42: ESRB_mature_sexual themes  \n43: ESRB_mild_animated violence  \n44: ESRB_mild_sexual themes  \n45: ESRB_use_of alcohol and tobacco  \n46: ESRB_animated_blood and gore  \n47: ESRB_mild_fantasy violence  \n48: ESRB_mild_lyrics  \n49: ESRB_realistic_blood  \n50: PEGI_violence  \n51: PEGI_sex  \n52: PEGI_drugs  \n53: PEGI_fear  \n54: PEGI_discrimination  \n55: PEGI_bad_language  \n56: PEGI_gambling  \n57: PEGI_online_gameplay  \n58: PEGI_in_game_purchases  \n59: CERO_love  \n60: CERO_sexual_content  \n61: CERO_violence  \n62: CERO_horror  \n63: CERO_drinking_smoking  \n64: CERO_gambling  \n65: CERO_crime  \n66: CERO_controlled_substances  \n67: CERO_languages_and others  \n68: GRAC_sexuality  \n69: GRAC_violence  \n70: GRAC_fear_horror_threatening  \n71: GRAC_language  \n72: GRAC_alcohol_tobacco_drug  \n73: GRAC_crime_anti_social  \n74: GRAC_gambling  \n75: CLASS_IND_violencia  \n76: CLASS_IND_violencia_extrema  \n77: CLASS_IND_conteudo_sexual  \n78: CLASS_IND_nudez  \n79: CLASS_IND_sexo  \n80: CLASS_IND_sexo_explicito  \n81: CLASS_IND_drogas  \n82: CLASS_IND_drogas_licitas  \n83: CLASS_IND_drogas_ilicitas  \n84: CLASS_IND_linguagem_impropria  \n85: CLASS_IND_atos_criminosos  \n"
      },
      "AlternativeNames": {
        "type": "object",
        "description": "Alternative and international game titles",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "The IGDB object unique identifier"
          },
          "comment": {
            "type": "string",
            "description": "A description of what kind of alternative name it is. (Acronym, Working title, Japanese title etc)"
          },
          "game": {
            "$ref": "#/components/schemas/Games/properties/id"
          },
          "name": {
            "type": "string",
            "description": "An alternative name"
          },
          "checksum": {
            "type": "string",
            "format": "uuid",
            "description": "Hash of the object"
          }
        }
      },
      "Artwork": {
        "type": "object",
        "description": "Official artworks. Resolution and aspect ratio may vary",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "The IGDB object unique identifier"
          },
          "alpha_channel": {
            "type": "boolean"
          },
          "animated": {
            "type": "boolean"
          },
          "game": {
            "$ref": "#/components/schemas/Games/properties/id"
          },
          "height": {
            "type": "integer",
            "format": "int32",
            "description": "The height of the image in pixels"
          },
          "image_id": {
            "type": "string",
            "description": "The ID of the image used to construct an IGDB image link"
          },
          "url": {
            "type": "string",
            "format": "url",
            "description": "The website address (URL) of the item"
          },
          "width": {
            "type": "integer",
            "format": "int32",
            "description": "The width of the image in pixels"
          },
          "checksum": {
            "type": "string",
            "format": "uuid",
            "description": "Hash of the object"
          }
        }
      },
      "Character": {
        "type": "object",
        "description": "Video game characters",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "The IGDB object unique identifier"
          },
          "akas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Alternative names for a character"
          },
          "country_name": {
            "type": "string",
            "description": "A Character's country of origin"
          },
          "created_at": {
            "type": "number",
            "format": "timestamp",
            "description": "Date this was initally added to the IGDB database"
          },
          "description": {
            "type": "string",
            "description": "Text describing a character"
          },
          "games": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Games/properties/id"
            }
          },
          "gender": {
            "$ref": "#/components/schemas/CharacterGenderEnum"
          },
          "mug_shot": {
            "$ref": "#/components/schemas/CharacterMugShot/properties/id"
          },
          "name": {
            "type": "string",
            "description": "The character's name"
          },
          "slug": {
            "type": "string",
            "description": "A url-safe, unique, lower-case version of the name"
          },
          "species": {
            "$ref": "#/components/schemas/CharacterSpeciesEnum"
          },
          "updated_at": {
            "type": "number",
            "format": "timestamp",
            "description": "The last date this entry was updated in the IGDB database"
          },
          "url": {
            "type": "string",
            "format": "url",
            "description": "The website address (URL) of the item"
          },
          "checksum": {
            "type": "string",
            "format": "uuid",
            "description": "Hash of the object"
          }
        }
      },
      "CharacterGenderEnum": {
        "type": "integer",
        "format": "int32",
        "enum": [
          0,
          1,
          2
        ],
        "description": "An Enum of the character's gender  \n0: Male  \n1: Female  \n2: Other  \n"
      },
      "CharacterSpeciesEnum": {
        "type": "integer",
        "format": "int32",
        "description": "An enum of the Character's species  \n1: Human  \n2: Alien  \n3: Animal  \n"
      },
      "CharacterMugShot": {
        "type": "object",
        "description": "Images depicting game characters",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "The IGDB object unique identifier"
          },
          "alpha_channel": {
            "type": "boolean"
          },
          "animated": {
            "type": "boolean"
          },
          "height": {
            "type": "integer",
            "format": "int32",
            "description": "The height of the image in pixels"
          },
          "image_id": {
            "type": "string",
            "description": "The ID of the image used to construct an IGDB image link"
          },
          "url": {
            "type": "string",
            "format": "url",
            "description": "The website address (URL) of the item"
          },
          "width": {
            "type": "integer",
            "format": "int32",
            "description": "The width of the image in pixels"
          },
          "checksum": {
            "type": "string",
            "format": "uuid",
            "description": "Hash of the object"
          }
        }
      },
      "Collection": {
        "type": "object",
        "description": "Collection, AKA Series",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "The IGDB object unique identifier"
          },
          "as_child_relations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionRelation/properties/id"
            }
          },
          "as_parent_relations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionRelation/properties/id"
            }
          },
          "created_at": {
            "type": "number",
            "format": "timestamp",
            "description": "Date this was initally added to the IGDB database"
          },
          "games": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Games/properties/id"
            }
          },
          "name": {
            "type": "string",
            "description": "Umbrella term for a collection of games"
          },
          "slug": {
            "type": "string",
            "description": "A url-safe, unique, lower-case version of the name"
          },
          "type": {
            "$ref": "#/components/schemas/CollectionType/properties/id"
          },
          "updated_at": {
            "type": "number",
            "format": "timestamp",
            "description": "The last date this entry was updated in the IGDB database"
          },
          "url": {
            "type": "string",
            "format": "url",
            "description": "The website address (URL) of the item"
          },
          "checksum": {
            "type": "string",
            "format": "uuid",
            "description": "Hash of the object"
          }
        }
      },
      "CollectionMembership": {
        "type": "object",
        "description": "The collection memberships",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "The IGDB object unique identifier"
          },
          "game": {
            "$ref": "#/components/schemas/Games/properties/id"
          },
          "collection": {
            "type": "string",
            "description": "Reference ID for Collection"
          },
[...]
