openapi: 3.0.0
info:
  title: IGDB API
  version: 4.0.0
  contact:
    name: IGDB Support
    url: https://www.igdb.com/contact
    email: support@igdb.com
  license:
    url: https://www.twitch.tv/p/legal/developer-agreement/
    name: Twitch Developer Services Agreement
  description: >-
    One of the principles behind IGDB.com is accessibility of data. We wish to
    share the data with anyone who wants to build cool video game oriented
    websites, apps and services.


    This means that you are not only contributing to the value of IGDB but to
    thousands of other projects as well. We are looking forward to see what
    exciting game related projects you come up with. Happy coding!

    This OpenAPI documentation and schema project is unofficial and made by [s-crypt](https://github.com/s-crypt)
    The source code is [available here](https://github.com/s-crypt/IGDB-OpenAPI)
    Issues and pull requests are welcome!

  termsOfService: https://www.twitch.tv/p/en/legal/terms-of-service/
externalDocs:
  url: https://api-docs.igdb.com
security:
  - Authorization_Key: []
  - Client-ID: []
servers:
  - url: https://api.igdb.com/v4
    description: The main base URL for the IGDB API
    variables: {}
  - url: >-
      https://id.twitch.tv/oauth2/token?client_id={client_id}&client_secret={client_secret}&grant_type=client_credentials
    description: >-
      Twitch Developer Authentication. Only used to obtain an access token for
      the IGDB API
    variables:
      client_id:
        default: abcdefg12345
      client_secret:
        default: hijklmn67890
paths:
  /age_ratings:
    security:
      - Authorization_Key: []
      - Client-ID: []
    post:
      summary: Age Rating according to various rating organizations
      description: ""
      parameters: []
      operationId: AgeRating
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgeRating"
      tags:
        - Endpoints
components:
  schemas:
    AgeRating:
      type: object
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        category:
          $ref: "#/components/schemas/AgeRatingCategoryEnums"
        checksum:
          type: string
          description: Hash of the object
        content_descriptions:
          type: array
          description: Array of Age Rating Content Description IDs
        rating:
          $ref: "#/components/schemas/AgeRatingEnums"
        rating_cover_url:
          type: string
          description: The url for the image of an age rating
        synopsis:
          type: string
          description: A free text motivating a rating
    AgeRatingCategoryEnums:
      description: The organization that has issued a specific rating
      type: number
      anyOf:
        - enum:
            - 1
          description: ESRB
        - enum:
            - 2
          description: PEGI
        - enum:
            - 3
          description: CERO
        - enum:
            - 4
          description: USK
        - enum:
            - 5
          description: GRAC
        - enum:
            - 6
          description: CLASS_IND
        - enum:
            - 7
          description: ACB
    AgeRatingEnums:
      description: The age rating assigned by the organization
      type: number
      anyOf:
        - enum:
            - 1
          description: Three
        - enum:
            - 2
          description: Seven
        - enum:
            - 3
          description: Twelve
        - enum:
            - 4
          description: Sixteen
        - enum:
            - 5
          description: Eighteen
        - enum:
            - 6
          description: RP
        - enum:
            - 7
          description: EC
        - enum:
            - 8
          description: E
        - enum:
            - 9
          description: E10
        - enum:
            - 10
          description: T
        - enum:
            - 11
          description: M
        - enum:
            - 12
          description: AO
        - enum:
            - 13
          description: CERO_A
        - enum:
            - 14
          description: CERO_B
        - enum:
            - 15
          description: CERO_C
        - enum:
            - 16
          description: CERO_D
        - enum:
            - 17
          description: CERO_Z
        - enum:
            - 18
          description: USK_0
        - enum:
            - 19
          description: USK_6
        - enum:
            - 20
          description: USK_12
        - enum:
            - 21
          description: USK_16
        - enum:
            - 22
          description: USK_18
        - enum:
            - 23
          description: GRAC_ALL
        - enum:
            - 24
          description: GRAC_Twelve
        - enum:
            - 25
          description: GRAC_Fifteen
        - enum:
            - 26
          description: GRAC_Eighteen
        - enum:
            - 27
          description: GRAC_TESTING
        - enum:
            - 28
          description: CLASS_IND_L
        - enum:
            - 29
          description: CLASS_IND_Ten
        - enum:
            - 30
          description: CLASS_IND_Twelve
        - enum:
            - 31
          description: CLASS_IND_Fourteen
        - enum:
            - 32
          description: CLASS_IND_Sixteen
        - enum:
            - 33
          description: CLASS_IND_Eighteen
        - enum:
            - 34
          description: ACB_G
        - enum:
            - 35
          description: ACB_PG
        - enum:
            - 36
          description: ACB_M
        - enum:
            - 37
          description: ACB_MA15
        - enum:
            - 38
          description: ACB_R18
        - enum:
            - 39
          description: ACB_RC
    AgeRatingContentDescription:
      type: object
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        category:
          $ref: "#/components/schemas/AgeRatingContentDescriptionCategoryEnums"
        checksum:
          type: string
          description: Hash of the object
        description:
          type: string
          description: A string containing the age rating content descriptions
    AgeRatingContentDescriptionCategoryEnums:
      type: number
      description: The age rating content description enums
      anyOf:
        - enum:
            - 1
          description: ESRB_alcohol_reference
        - enum:
            - 2
          description: ESRB_animated_blood
        - enum:
            - 3
          description: ESRB_blood
        - enum:
            - 4
          description: ESRB_blood_and gore
        - enum:
            - 5
          description: ESRB_cartoon_violence
        - enum:
            - 6
          description: ESRB_comic_mischief
        - enum:
            - 7
          description: ESRB_crude_humor
        - enum:
            - 8
          description: ESRB_drug_reference
        - enum:
            - 9
          description: ESRB_fantasy_violence
        - enum:
            - 10
          description: ESRB_intense_violence
        - enum:
            - 11
          description: ESRB_language
        - enum:
            - 12
          description: ESRB_lyrics
        - enum:
            - 13
          description: ESRB_mature_humor
        - enum:
            - 14
          description: ESRB_nudity
        - enum:
            - 15
          description: ESRB_partial_nudity
        - enum:
            - 16
          description: ESRB_real_gambling
        - enum:
            - 17
          description: ESRB_sexual_content
        - enum:
            - 18
          description: ESRB_sexual_themes
        - enum:
            - 19
          description: ESRB_sexual_violence
        - enum:
            - 20
          description: ESRB_simulated_gambling
        - enum:
            - 21
          description: ESRB_strong_language
        - enum:
            - 22
          description: ESRB_strong_lyrics
        - enum:
            - 23
          description: ESRB_strong_sexual content
        - enum:
            - 24
          description: ESRB_suggestive_themes
        - enum:
            - 25
          description: ESRB_tobacco_reference
        - enum:
            - 26
          description: ESRB_use_of alcohol
        - enum:
            - 27
          description: ESRB_use_of drugs
        - enum:
            - 28
          description: ESRB_use_of tobacco
        - enum:
            - 29
          description: ESRB_violence
        - enum:
            - 30
          description: ESRB_violent_references
        - enum:
            - 31
          description: ESRB_animated_violence
        - enum:
            - 32
          description: ESRB_mild_language
        - enum:
            - 33
          description: ESRB_mild_violence
        - enum:
            - 34
          description: ESRB_use_of drugs and alcohol
        - enum:
            - 35
          description: ESRB_drug_and alcohol reference
        - enum:
            - 36
          description: ESRB_mild_suggestive themes
        - enum:
            - 37
          description: ESRB_mild_cartoon violence
        - enum:
            - 38
          description: ESRB_mild_blood
        - enum:
            - 39
          description: ESRB_realistic_blood and gore
        - enum:
            - 40
          description: ESRB_realistic_violence
        - enum:
            - 41
          description: ESRB_alcohol_and tobacco reference
        - enum:
            - 42
          description: ESRB_mature_sexual themes
        - enum:
            - 43
          description: ESRB_mild_animated violence
        - enum:
            - 44
          description: ESRB_mild_sexual themes
        - enum:
            - 45
          description: ESRB_use_of alcohol and tobacco
        - enum:
            - 46
          description: ESRB_animated_blood and gore
        - enum:
            - 47
          description: ESRB_mild_fantasy violence
        - enum:
            - 48
          description: ESRB_mild_lyrics
        - enum:
            - 49
          description: ESRB_realistic_blood
        - enum:
            - 50
          description: PEGI_violence
        - enum:
            - 51
          description: PEGI_sex
        - enum:
            - 52
          description: PEGI_drugs
        - enum:
            - 53
          description: PEGI_fear
        - enum:
            - 54
          description: PEGI_discrimination
        - enum:
            - 55
          description: PEGI_bad_language
        - enum:
            - 56
          description: PEGI_gambling
        - enum:
            - 57
          description: PEGI_online_gameplay
        - enum:
            - 58
          description: PEGI_in_game_purchases
        - enum:
            - 59
          description: CERO_love
        - enum:
            - 60
          description: CERO_sexual_content
        - enum:
            - 61
          description: CERO_violence
        - enum:
            - 62
          description: CERO_horror
        - enum:
            - 63
          description: CERO_drinking_smoking
        - enum:
            - 64
          description: CERO_gambling
        - enum:
            - 65
          description: CERO_crime
        - enum:
            - 66
          description: CERO_controlled_substances
        - enum:
            - 67
          description: CERO_languages_and others
        - enum:
            - 68
          description: GRAC_sexuality
        - enum:
            - 69
          description: GRAC_violence
        - enum:
            - 70
          description: GRAC_fear_horror_threatening
        - enum:
            - 71
          description: GRAC_language
        - enum:
            - 72
          description: GRAC_alcohol_tobacco_drug
        - enum:
            - 73
          description: GRAC_crime_anti_social
        - enum:
            - 74
          description: GRAC_gambling
        - enum:
            - 75
          description: CLASS_IND_violencia
        - enum:
            - 76
          description: CLASS_IND_violencia_extrema
        - enum:
            - 77
          description: CLASS_IND_conteudo_sexual
        - enum:
            - 78
          description: CLASS_IND_nudez
        - enum:
            - 79
          description: CLASS_IND_sexo
        - enum:
            - 80
          description: CLASS_IND_sexo_explicito
        - enum:
            - 81
          description: CLASS_IND_drogas
        - enum:
            - 82
          description: CLASS_IND_drogas_licitas
        - enum:
            - 83
          description: CLASS_IND_drogas_ilicitas
        - enum:
            - 84
          description: CLASS_IND_linguagem_impropria
        - enum:
            - 85
          description: CLASS_IND_atos_criminosos
    AlternativeNames:
      type: object
      description: Alternative and international game titles
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        checksum:
          type: string
          description: Hash of the object
        comment:
          type: string
          description: >-
            A description of what kind of alternative name it is. (Acronym,
            Working title, Japanese title etc)
        game:
          $ref: "#/components/schemas/Games/properties/id"
        name:
          type: string
          description: An alternative name
    Artwork:
      type: object
      description: Official artworks. Resolution and aspect ratio may vary
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        alpha_channel:
          type: boolean
        animated:
          type: boolean
        checksum:
          type: string
          description: Hash of the object
        game:
          $ref: "#/components/schemas/Games/properties/id"
        height:
          type: number
          description: The height of the image in pixels
        image_id:
          type: string
          description: The ID of the image used to construct an IGDB image link
        url:
          type: string
          description: The website address (URL) of the item
        width:
          type: number
          description: The width of the image in pixels
    Character:
      type: object
      description: Video game characters
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        akas:
          type: array
          description: Alternative names for a character
        checksum:
          type: string
          description: Hash of the object
        country_name:
          type: string
          description: A Character's country of origin
        created_at:
          type: number
          description: Date this was initally added to the IGDB database
        description:
          type: string
          description: Text describing a character
        games:
          type: array
          description: An array of game IDs
        gender:
          $ref: "#/components/schemas/CharacterGenderEnum"
        mug_shot:
          $ref: "#/components/schemas/CharacterMugShot"
        name:
          type: string
          description: The character's name
        slug:
          type: string
          description: A url-safe, unique, lower-case version of the name
        species:
          $ref: "#/components/schemas/CharacterSpeciesEnum"
        updated_at:
          type: number
          description: The last date this entry was updated in the IGDB database
        url:
          type: string
          description: The website address (URL) of the item
    CharacterGenderEnum:
      type: number
      description: An Enum of the character's gender
      anyOf:
        - enum:
            - 0
          description: Male
        - enum:
            - 1
          description: Female
        - enum:
            - 2
          description: Other
    CharacterSpeciesEnum:
      type: number
      description: An enum of the Character's species
      anyOf:
        - enum:
            - 1
          description: Human
        - enum:
            - 2
          description: Alien
        - enum:
            - 3
          description: Animal
        - enum:
            - 4
          description: Android
        - enum:
            - 5
          description: Unknown
    CharacterMugShot:
      type: object
      description: Images depicting game characters
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        alpha_channel:
          type: boolean
        animated:
          type: boolean
        checksum:
          type: string
          description: Hash of the object
        height:
          type: number
          description: The height of the image in pixels
        image_id:
          type: string
          description: The ID of the image used to construct an IGDB image link
        url:
          type: string
          description: The website address (URL) of the item
        width:
          type: number
          description: The width of the image in pixels
    Collection:
      type: object
      description: Collection, AKA Series
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        as_child_relations:
          $ref: "#/components/schemas/CollectionRelation"
        as_parent_relations:
          $ref: "#/components/schemas/CollectionRelation"
        checksum:
          type: string
          description: Hash of the object
        created_at:
          type: number
          description: Date this was initally added to the IGDB database
        games:
          type: array
          description: >-
            An array of Game IDs. The games that are associated with this
            collection
        name:
          type: string
          description: Umbrella term for a collection of games
        slug:
          type: string
          description: A url-safe, unique, lower-case version of the name
        type:
          $ref: "#/components/schemas/CollectionType"
        updated_at:
          type: number
          description: The last date this entry was updated in the IGDB database
        url:
          type: string
          description: The website address (URL) of the item
    CollectionMembership:
      type: object
      description: The collection memberships
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        checksum:
          type: string
          description: Hash of the object
        collection:
          type: string
          description: Reference ID for Collection
        created_at:
          type: number
          description: Date this was initally added to the IGDB database
        game:
          $ref: "#/components/schemas/Games/properties/id"
        type:
          $ref: "#/components/schemas/CollectionMembershipType"
        updated_at:
          type: number
          description: The last date this entry was updated in the IGDB database
    CollectionMembershipType:
      type: object
      description: Enums for collection membership type
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        allowed_collection_type:
          $ref: "#/components/schemas/CollectionType"
        checksum:
          type: string
          description: Hash of the object
        created_at:
          type: number
          description: Date this was initally added to the IGDB database
        description:
          type: string
          description: Description of the membership type
        name:
          type: string
          description: The membership type name
        updated_at:
          type: number
          description: The last date this entry was updated in the IGDB database
    CollectionRelation:
      type: object
      description: Describes relationship between collections
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        checksum:
          type: string
          description: Hash of the object
        child_collection:
          type: string
          description: The child collection of this collection
        created_at:
          type: number
          description: Date this was initally added to the IGDB database
        parent_collection:
          type: string
          description: The patent collection of this collection
        type:
          type: string
          description: The collection relationship type
        updated_at:
          type: number
          description: The last date this entry was updated in the IGDB database
    CollectionRelationType:
      type: object
      description: Enums for collection membership type
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        allowed_child_type:
          type: string
          description: The allowed child collection type
        allowed_parent_type:
          type: string
          description: The allowed parent collection type
        checksum:
          type: string
          description: Hash of the object
        created_at:
          type: number
          description: Date this was initally added to the IGDB database
        description:
          type: string
          description: Description of the membership type
        name:
          type: string
          description: The membership type name
        updated_at:
          type: number
          description: The last date this entry was updated in the IGDB database
    CollectionType:
      type: object
      description: Enums for collection membership type
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        checksum:
          type: string
          description: Hash of the object
        created_at:
          type: number
          description: Date this was initally added to the IGDB database
        description:
          type: string
          description: Description of the membership type
        name:
          type: string
          description: The membership type name
        updated_at:
          type: number
          description: The last date this entry was updated in the IGDB database
    Company:
      type: object
      description: Video game companies, both publishers and developers
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        change_date:
          type: number
          description: The date when a compnay got a new ID
        change_date_category:
          $ref: "#/components/schemas/ChangeDateCategoryEnum"
        changed_company_id:
          type: string
          description: The new ID for a company that has gone through a merger or restructuring
        checksum:
          type: string
          description: Hash of the object
        country:
          type: number
          description: ISO 3166-1 numeric country code
        created_at:
          type: number
          description: Date this was initally added to the IGDB database
        description:
          type: string
          description: A free text description of the company
        developed:
          type: array
          description: An array of game IDs that the company has developed
        logo:
          type: string
          description: Reference ID for the company's logo
        name:
          type: string
          description: The name of the company
        parent:
          type: string
          description: A company with a controlling interest ina specific comapny
        published:
          type: array
          description: An array of Game IDs that the company has published
        slug:
          type: string
          description: A url-safe, unique, lower-case version of the name
        start_date:
          type: number
          description: The date that the company was founded
        start_date_category:
          $ref: "#/components/schemas/StartDateCategoryEnum"
        updated_at:
          type: number
          description: The last date this entry was updated in the IGDB database
        url:
          type: string
          description: The website address (URL) of the item
        websites:
          type: array
          description: An array of company website URLs
    ChangeDateCategoryEnum:
      type: number
      description: An enum of the date format
      anyOf:
        - enum:
            - 0
          description: YYYYMMMMDD
        - enum:
            - 1
          description: YYYYMMMM
        - enum:
            - 2
          description: YYYY
        - enum:
            - 3
          description: YYYYQ1
        - enum:
            - 4
          description: YYYYQ2
        - enum:
            - 5
          description: YYYYQ3
        - enum:
            - 6
          description: YYYYQ4
        - enum:
            - 7
          description: TBD
    StartDateCategoryEnum:
      type: number
      description: An enum of the date format
      anyOf:
        - enum:
            - 0
          description: YYYYMMMMDD
        - enum:
            - 1
          description: YYYYMMMM
        - enum:
            - 2
          description: YYYY
        - enum:
            - 3
          description: YYYYQ1
        - enum:
            - 4
          description: YYYYQ2
        - enum:
            - 5
          description: YYYYQ3
        - enum:
            - 6
          description: YYYYQ4
        - enum:
            - 7
          description: TBD
    CompanyLogo:
      type: object
      description: The logos of developers and publishers
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        alpha_channel:
          type: boolean
        animated:
          type: boolean
        checksum:
          type: string
          description: Hash of the object
        height:
          type: number
          description: The height of the image in pixels
        image_id:
          type: string
          description: The ID of the image used to construct an IGDB image link
        url:
          type: string
          description: The website address (URL) of the item
        width:
          type: number
          description: The width of the image in pixels
    CompanyWebsite:
      type: object
      description: A company's website links
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        category:
          $ref: "#/components/schemas/CompanyWebsiteEnums"
        checksum:
          type: string
          description: Hash of the object
        trusted:
          type: boolean
        url:
          type: string
          description: The website address (URL) of the item
    CompanyWebsiteEnums:
      type: number
      description: An enum of the date format
      anyOf:
        - enum:
            - 1
          description: official
        - enum:
            - 2
          description: wikia
        - enum:
            - 3
          description: wikipedia
        - enum:
            - 4
          description: facebook
        - enum:
            - 5
          description: twitter
        - enum:
            - 6
          description: twitch
        - enum:
            - 8
          description: instagram
        - enum:
            - 9
          description: youtube
        - enum:
            - 10
          description: iphone
        - enum:
            - 11
          description: ipad
        - enum:
            - 12
          description: android
        - enum:
            - 13
          description: steam
        - enum:
            - 14
          description: reddit
        - enum:
            - 15
          description: itch
        - enum:
            - 16
          description: epicgames
        - enum:
            - 17
          description: gog
        - enum:
            - 18
          description: discord
    Cover:
      type: object
      description: The cover art of games
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        alpha_channel:
          type: boolean
        animated:
          type: boolean
        checksum:
          type: string
          description: Hash of the object
        game:
          $ref: "#/components/schemas/Games/properties/id"
          description: The game this cover is associated with. If it is empty then this cover belongs to a game_localization, which can be found under game_localization field
        game_localization:
          type: string
          description: Reference ID for Game Localization this cover might be associated with
        height:
          type: number
          description: The height of the image in pixels
        image_id:
          type: string
          description: The ID of the image used to construct an IGDB image link
        url:
          type: string
          description: The website address (URL) of the item
        width:
          type: number
          description: The width of the image in pixels
    Events:
      type: object
      description: Gaming events like GamesCom, Tokyo Game Show, PAX, or GSL
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        checksum:
          type: string
          description: Hash of the object
        created_at:
          type: number
          description: Date this was initially added to the IGDB database
        description:
          type: string
          description: The description of the event
        end_time:
          type: number
          description: End time of the event in UTC
        event_logo:
          type: string
          description: Logo of the event.
        event_networks:
          type: string
          description: Urls associated with the event
        games:
          type: array
          description: Games featured in the event
        live_stream_url:
          type: string
          description: URL to the livestream of the event.
        name:
          type: string
          description: The name of the event
        slug:
          type: string
          description: A url-safe, unique, lower-case version of the name
        start_time:
          type: number
          description: Start time of the event in UTC
        time_zone:
          type: string
          description: Timezone the event is in.
        updated_at:
          type: number
          description: The last date this entry was updated in the IGDB database
        videos:
          type: array
          description: Trailers featured in the event
    EventLogo:
      type: object
      description: Logo for the event
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        alpha_channel:
          type: boolean
        animated:
          type: boolean
        checksum:
          type: string
          description: Hash of the object
        created_at:
          type: number
          description: Date this was initially added to the IGDB database
        event:
          type: string
          description: The event associated with this logo.
        height:
          type: number
          description: The height of the image in pixels
        image_id:
          type: string
          description: The ID of the image used to construct an IGDB image link
        updated_at:
          type: number
          description: The last date this entry was updated in the IGDB database
        url:
          type: string
          description: The website address (URL) of the item
        width:
          type: number
          description: The width of the image in pixels
    EventNetwork:
      type: object
      description: URLs related to the event like Twitter, Facebook, and Youtube
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        checksum:
          type: string
          description: Hash of the object
        created_at:
          type: number
          description: Date this was initially added to the IGDB database
        event:
          type: string
          description: The event associated with this URL.
        network_type:
          type: string
          description: Network type
        updated_at:
          type: number
          description: The last date this entry was updated in the IGDB database
        url:
          type: string
          format: url
          description: The website address (URL) of the item
    Franchise:
      type: object
      description: A list of video game franchises such as Star Wars
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        checksum:
          type: string
          description: Hash of the object
        created_at:
          type: number
          description: Date this was initially added to the IGDB database
        games:
          type: array
          description: The games that are associated with this franchise
        name:
          type: string
          description: The name of the franchise
        slug:
          type: string
          description: A url-safe, unique, lower-case version of the name
        updated_at:
          type: number
          description: The last date this entry was updated in the IGDB database
        url:
          type: string
          description: The website address (URL) of the item
    Games:
      type: object
      description: Video Games!
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        age_ratings:
          $ref: "#/components/schemas/AgeRatingEnums"
        aggregated_rating:
          type: number
          description: Rating based on external critic scores
        aggregated_rating_count:
          type: number
          description: Number of external critic scores
        alternative_names:
          type: array
          description: Alternative names for this game
        artworks:
          type: array
          description: Artworks of this game
        bundles:
          type: array
          description: The bundles this game is a part of
        category:
          $ref: "#/components/schemas/GameCategoryEnums"
        checksum:
          type: string
          description: Hash of the object
        collection:
          type: string
          description: The series the game belongs to
        collections:
          type: array
          description: The collections that this game is in.
        cover:
          type: string
          description: The cover of this game
        created_at:
          type: number
          description: Date this was initially added to the IGDB database
        dlcs:
          type: array
          description: DLCs for this game
        expanded_games:
          type: array
          description: Expanded games of this game
        expansions:
          type: array
          description: Expansions of this game
        external_games:
          type: array
          description: External IDs this game has on other services
        first_release_date:
          type: number
          description: The first release date for this game
        follows:
          type: number
          description: Number of people following a game
        forks:
          type: array
          description: Forks of this game
        franchise:
          type: string
          description: The main franchise
        franchises:
          type: array
          description: Other franchises the game belongs to
        game_engines:
          type: array
          description: The game engine used in this game
        game_localizations:
          type: array
          description: Supported game localizations for this game. A region can have at most one game localization for a given game
        game_modes:
          type: array
          description: Modes of gameplay
        genres:
          type: array
          description: Genres of the game
        hypes:
          type: number
          description: Number of follows a game gets before release
        involved_companies:
          type: array
          description: Companies who developed this game
        keywords:
          type: array
          description: Associated keywords
        language_supports:
          type: array
          description: Supported Languages for this game
        multiplayer_modes:
          type: array
          description: Multiplayer modes for this game
        name:
          type: string
          description: The name of the Game
        parent_game:
          $ref: "#/components/schemas/Games/properties/id"
          description: If a DLC, expansion or part of a bundle, this is the main game or bundle
        platforms:
          type: string
          description: Platforms this game was released on
        player_perspectives:
          type: array
          description: The main perspective of the player
        ports:
          type: array
          description: Ports of this game
        rating:
          type: number
          description: Average IGDB user rating
        rating_count:
          type: number
          description: Total number of IGDB user ratings
        release_dates:
          type: array
          description: Release dates of this game
        remakes:
          type: array
          description: Remakes of this game
        remasters:
          type: array
          description: Remasters of this game
        screenshots:
          type: array
          description: Screenshots of this game
        similar_games:
          type: array
          description: Similar games
        slug:
          type: string
          description: A url-safe, unique, lower-case version of the name
        standalone_expansions:
          type: array
          description: Standalone expansions of this game
        status:
          $ref: "#/components/schemas/GameStatusEnums"
        storyline:
          type: string
          description: A short description of a games story
        summary:
          type: string
          description: A description of the game
        tags:
          type: array
          description: Related entities in the IGDB API
        themes:
          type: array
          description: Themes of the game
        total_rating:
          type: number
          description: Average rating based on both IGDB user and external critic scores
        total_rating_count:
          type: number
          description: Total number of user and external critic scores
        updated_at:
          type: number
          description: The last date this entry was updated in the IGDB database
        url:
          type: string
          description: The website address (URL) of the item
        version_parent:
          type: string
          description: If a version, this is the main game
        version_title:
          type: string
          description: Title of this version (i.e Gold edition)
        videos:
          type: array
          description: Videos of this game
        websites:
          type: array
          description: Websites associated with this game
    GameCategoryEnums:
      type: object
      description: A game's category/catagories
      anyOf:
        - enum:
            - 0
          description: main_game
        - enum:
            - 1
          description: dlc_addon
        - enum:
            - 2
          description: expansion
        - enum:
            - 3
          description: bundle
        - enum:
            - 4
          description: standalone_expansion
        - enum:
            - 5
          description: mod
        - enum:
            - 6
          description: episode
        - enum:
            - 7
          description: season
        - enum:
            - 8
          description: remake
        - enum:
            - 9
          description: remaster
        - enum:
            - 10
          description: expanded_game
        - enum:
            - 11
          description: port
        - enum:
            - 12
          description: fork
        - enum:
            - 13
          description: pack
        - enum:
            - 14
          description: update
    GameStatusEnums:
      type: object
      description: A game's status
      anyOf:
        - enum:
            - 0
          description: released
        - enum:
            - 2
          description: alpha
        - enum:
            - 3
          description: beta
        - enum:
            - 4
          description: early_access
        - enum:
            - 5
          description: offline
        - enum:
            - 6
          description: cancelled
        - enum:
            - 7
          description: rumored
        - enum:
            - 8
          description: delisted
    GameEngine:
      type: object
      description: Video game engines such as unreal engine
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        checksum:
          type: string
          description: Hash of the object
        companies:
          type: array
          description: Companies who used this game engine
        created_at:
          type: number
          description: Date this was initially added to the IGDB database
        description:
          type: string
          description: Description of the game engine
        logo:
          type: string
          description: Logo of the game engine
        name:
          type: string
          description: Name of the game engine
        platforms:
          type: array
          description: Platforms this game engine was deployed on
        slug:
          type: string
          description: A url-safe, unique, lower-case version of the name
        updated_at:
          type: number
          description: The last date this entry was updated in the IGDB database
        url:
          type: string
          description: The website address (URL) of the item
    GameEngineLogo:
      type: object
      description: The logos of developers and publishers
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        alpha_channel:
          type: boolean
        animated:
          type: boolean
        checksum:
          type: string
          description: Hash of the object
        height:
          type: number
          description: The height of the image in pixels
        image_id:
          type: string
          description: The ID of the image used to construct an IGDB image link
        url:
          type: string
          description: The website address (URL) of the item
        width:
          type: number
          description: The width of the image in pixels
    ExternalGame:
      type: object
      description: Game IDs on other services
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        category:
          $ref: "#/components/schemas/ExternalGameCategoryEnums"
          description: The id of the other service
        checksum:
          type: string
          description: Hash of the object
        countries:
          type: array
          description: The ISO country code of the external game product.
        created_at:
          type: number
          description: Date this was initially added to the IGDB database
        game:
          $ref: "#/components/schemas/Games/properties/id"
        media:
          $ref: "#/components/schemas/ExternalGameMediaEnums"
          description: The media of the external game.
        name:
          type: string
          description: The name of the game according to the other service
        platform:
          type: string
          description: The platform of the external game product.
        uid:
          type: string
          description: The other services ID for this game
        updated_at:
          type: number
          description: The last date this entry was updated in the IGDB database
        url:
          type: string
          description: The website address (URL) of the item
        year:
          type: number
          description: The year in full (2018)
    ExternalGameCategoryEnums:
      type: object
      description: The external platform the game is on
      anyOf:
        - enum:
            - 1
          description: steam
        - enum:
            - 5
          description: gog
        - enum:
            - 10
          description: youtube
        - enum:
            - 11
          description: microsoft
        - enum:
            - 13
          description: apple
        - enum:
            - 14
          description: twitch
        - enum:
            - 15
          description: android
        - enum:
            - 20
          description: amazon_asin
        - enum:
            - 22
          description: amazon_luna
        - enum:
            - 23
          description: amazon_adg
        - enum:
            - 26
          description: epic_game_store
        - enum:
            - 28
          description: oculus
        - enum:
            - 29
          description: utomik
        - enum:
            - 30
          description: itch_io
        - enum:
            - 31
          description: xbox_marketplace
        - enum:
            - 32
          description: kartridge
        - enum:
            - 36
          description: playstation_store_us
        - enum:
            - 37
          description: focus_entertainment
        - enum:
            - 54
          description: xbox_game_pass_ultimate_cloud
        - enum:
            - 55
          description: gamejolt
    ExternalGameMediaEnums:
      type: object
      description: The type of media
      anyOf:
        - enum:
            - 1
          description: digital
        - enum:
            - 2
          description: physical
    GameMode:
      type: object
      description: Single player, Multiplayer, etc.
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        checksum:
          type: string
          description: Hash of the object
        created_at:
          type: number
          description: Date this was initially added to the IGDB database
        name:
          type: string
          description: The name of the game mode
        slug:
          type: string
          description: A url-safe, unique, lower-case version of the name
        updated_at:
          type: number
          description: The last date this entry was updated in the IGDB database
        url:
          type: string
          description: The website address (URL) of the item
    GameVersionFeatures:
      type: object
      description: Features and descriptions of what makes each version/edition different from the main game
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        category:
          $ref: "#/components/schemas/GameVersionFeatureCategoryEnums"
          description: The category of the feature description
        checksum:
          type: string
          description: Hash of the object
        description:
          type: string
          description: The description of the feature
        position:
          type: number
          description: Position of this feature in the list of features
        title:
          type: string
          description: The title of the feature
        values:
          type: array
          description: The bool/text value of the feature
    GameVersionFeatureCategoryEnums:
      type: object
      description: The data type of feature description
      anyOf:
        - enum:
            - 1
          description: boolean
        - enum:
            - 2
          description: description
    GameVersionFeatureValue:
      type: object
      description: The bool/text value of the feature
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        checksum:
          type: string
          description: Hash of the object
        game:
          $ref: "#/components/schemas/Games/properties/id"
        game_feature:
          $ref: "#/components/schemas/GameVersionFeatures/properties/title"
        included_feature:
          $ref: "#/components/schemas/GameVersionIncludedFeatureEnums"
        note:
          type: string
          description: The text value of this feature
    GameVersionIncludedFeatureEnums:
      type: object
      description: The boole value of this feature
      anyOf:
        - enum:
            - 0
          description: NOT_INCLUDED
        - enum:
            - 1
          description: INCLUDED
        - enum:
            - 2
          description: PRE_ORDER_ONLY
    Genre:
      type: object
      description: Genres of video games
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        created_at:
          type: number
          format: date
          description: Date this was initially added to the IGDB database
        name:
          type: string
          description: The name of the genre
        slug:
          type: string
          description: A url-safe, unique, lower-case version of the name
        updated_at:
          type: number
          format: date
          description: The last date this entry was updated in the IGDB database
        url:
          type: string
          format: url
          description: The website address (URL) of the item
    InvolvedCompany:
      type: object
      description: Involved companies
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        company:
          $ref: "#/components/schemas/Company/properties/name"
        created_at:
          type: number
          format: timestamp
          description: Date this was initally added to the IGDB database
        developer:
          type: boolean
          description: Is the company a/the developer?
    GameVideo:
      type: object
      description: A video associated with a game
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        game:
          $ref: "#/components/schemas/Games/properties/id"
        name:
          type: string
          description: The name of the video
        video_id:
          type: string
          description: The external ID of the video (usually youtube)
    Keyword:
      type: object
      description: Keywords are words or phrases that get tagged to a game such as “world war 2” or “steampunk”.
      properties:
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        created_at:
          type: number
          format: date
          description: Date this was initially added to the IGDB database
        name:
          type: string
          description: The keyword
    Language:
      type: object
      description: Languages that are used in the Language Support endpoint.
      properties:
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        created_at:
          type: number
          format: date
          description: Date this was initially added to the IGDB database
        locale:
          type: string
          description: The combination of Language code and Country code (en_US)
        name:
          type: string
          description: The name of the localization
        native_name:
          type: string
          description: The native name of the language
        updated_at:
          type: number
          format: timestamp
          description: Date this was last updated in the IGDB database
    LanguageSupportType:
      type: object
      description: Language Support Types contains the identifiers for the support types that Language Support uses.
      properties:
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        created_at:
          type: number
          format: date
          description: Date this was initially added to the IGDB database
        name:
          type: string
          description: The name of the language
        updated_at:
          type: number
          format: timestamp
          description: Date this was last updated in the IGDB database
    MultiplayerMode:
      type: object
      description: Data about the supported multiplayer types
      properties:
        camapigncoop:
          type: boolean
          description: True if the game supports campaign coop
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        dropin:
          type: boolean
          description: True if the game supports drop in/out multiplayer
        game:
          $ref: "#/components/schemas/Games/properties/id"
        lancoop:
          type: boolean
          description: True if the game supports LAN coop
        offlinecoop:
          type: boolean
          description: True if the game supports offline coop
        offliencoopmax:
          type: number
          description: Maximum number of offline players in offline coop
        offlinemax:
          type: number
          description: Maximum number of players in offline multiplayer
        onlinecoop:
          type: boolean
          description: True if the game supports online coop
        onlinecoopmax:
          type: number
          description: Maximum number of online players in online coop
        onlinemax:
          type: number
          description: Maximum number of online players in online coop
        platform:
          $ref: "#/components/schemas/Platform/properties/name"
        splitscreen:
          type: boolean
          description: True if the game supports, split screen, offline multiplayer
        splitscreenonline:
          type: boolean
          description: True if the game supports split screen, online multiplayer
    LanguageSupport:
      type: object
      description: Games can be played with different languages for voice acting, subtitles, or the interface language.
      properties:
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        created_at:
          type: number
          format: date
          description: Date this was initially added to the IGDB database
        game:
          $ref: "#/components/schemas/Games/properties/id"
        language:
          $ref: "#/components/schemas/Language/properties/name"
        updated_at:
          type: number
          format: timestamp
          description: Date this was last updated in the IGDB database
    NetworkType:
      type: object
      description: Social networks related to the event like twitter, facebook and youtube
      properties:
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        created_at:
          type: number
          format: date
          description: Date this was initially added to the IGDB database
        event_networks:
          type: array
          $ref: "#/components/schemas/EventNetwork/properties/url"
        name:
          type: string
          description: The name of the social network
        updated_at:
          type: number
          format: timestamp
          description: Date this was last updated in the IGDB database
    PlatformFamily:
      type: object
      description: A collection of closely related platforms
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        name:
          type: string
          description: The name of the platform family
        slug:
          type: string
          description: A url-safe, unique, lower-case version of the name
    PlatformLogo:
      type: object
      description: Logo for a platform
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        alpha_channel:
          type: boolean
        animated:
          type: boolean
        checksum:
          type: string
          description: Hash of the object
        height:
          type: number
          description: The height of the image in pixels
        image_id:
          type: string
          description: The ID of the image used to construct an IGDB image link
        url:
          type: string
          description: The website address (URL) of the item
        width:
          type: number
          description: The width of the image in pixels
    PlatformVersion:
      type: object
      description: The specific platform and the specifications (Xbox Series X, Playstation 5)
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        companies:
          type: array
          format: string
          $ref: "#/components/schemas/PlatformVersionCompany/properties/company"
        connectivity:
          type: string
          description: The network capabilities
        cpu:
          type: string
          description: The integrated central processing unit
        graphics:
          type: string
          description: The graphics chipset
        main_manufacturer:
          $ref: "#/components/schemas/PlatformVersionCompany/properties/manufacturer"
        media:
          type: string
          description: The type of media this version accepts
        memory:
          type: string
          description: How much memory there is
        name:
          type: string
          description: The name of the platform version
        os:
          type: string
          description: The operating system installed on the platform version
        output:
          type: string
          description: The output video rate
        platform_logo:
          $ref: "#/components/schemas/PlatformLogo/properties/id"
        platform_version_release_dates:
          $ref: "#/components/schemas/PlatformVersionReleaseDate/properties/id"
        resolutions:
          type: string
          description: The maximum resolution
        slug:
          type: string
          description: A url-safe, unique, lower-case version of the name
        sound:
          type: string
          description: The sound chipset
        storage:
          type: string
          description: How much storage there is
        summary:
          type: string
          description: A short summary
        url:
          type: string
          description: The website address (URL) of the item
    PlatformVersionCompany:
      type: object
      description: A platform developer
      properties:
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        comment:
          type: string
          description: Any notable comments about the developer
        company:
          $ref: "#/components/schemas/Company/properties/id"
        developer:
          type: boolean
          description: If the company is the developer
        manufacturer:
          type: boolean
          description: If the company is the manufactuer
    Platform:
      type: object
      description: The hardware used to run the game or game delivery network
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        abbreviation:
          type: string
          description: An abbreviation of the platform name
        alternative_name:
          type: string 
          description: An alternative name for the platform
        category:
          $ref: "#/components/schemas/PlatformCategoryEnums"
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        created_at:
          type: number
          format: date
          description: Date this was initially added to the IGDB database
        generation:
          type: number
          description: The generation of the platform
        name:
          type: string
          description: The name of the platform
        platform_family:
          $ref: "#/components/schemas/PlatformFamily/properties/id"
        platform_logo:
          $ref: "#/components/schemas/PlatformLogo/properties/id"
        slug:
          type: string
          description: A url-safe, unique, lower-case version of the name
        summary:
          type: string
          description: The summary of the first Version of this platform
        updated_at:
          type: number
          format: timestamp
          description: Date this was last updated in the IGDB database
        url:
          type: string
          description: The website address (URL) of the item
        versions:
          type: array
          $ref: "#/components/schemas/PlatformVersion/properties/id"
        websites:
          type: array
          $ref: "#/components/schemas/PlatformWebsite/properties/id"
    PlatformCategoryEnums:
      type: object
      description: The category of the platform
      anyOf:
        - enum:
            - 1
          description: console
        - enum:
            - 2
          description: arcade
        - enum:
            - 3
          description: platform
        - enum:
            - 4
          description: operating_system
        - enum:
            - 5
          description: portable_console
        - enum:
            - 6
          description: computer
    PlatformVersionReleaseDate:
      type: object
      description: A handy endpoint that extends platform release dates. Used to dig deeper into release dates, platforms and versions.
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        category:
          $ref: "#/components/schemas/PlatformVersionReleaseDateEnums"
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        created_at:
          type: number
          format: date
          description: Date this was initially added to the IGDB database
        date:
          type: string
          format: timestamp
          description: The release date
        human:
          type: string
          description: A human readable version of the release date
        m:
          type: number
          description: The month as an integer starting at 1 (January)
        platform_version:
          $ref: "#/components/schemas/PlatformVersion/properties/id"
        region:
          $ref: "#/components/schemas/PlatformVersionReleaseDateRegionEnum"
        updated_at:
          type: number
          format: timestamp
          description: Date this was last updated in the IGDB database
        y:
          type: number
          description: The year in full (2018)
    PlatformVersionReleaseDateEnums:
      type: number
      description: An enum of the date format
      anyOf:
        - enum:
            - 0
          description: YYYYMMMMDD
        - enum:
            - 1
          description: YYYYMMMM
        - enum:
            - 2
          description: YYYY
        - enum:
            - 3
          description: YYYYQ1
        - enum:
            - 4
          description: YYYYQ2
        - enum:
            - 5
          description: YYYYQ3
        - enum:
            - 6
          description: YYYYQ4
        - enum:
            - 7
          description: TBD
    PlatformVersionReleaseDateRegionEnum:
      type: number
      description: An enum of the region for the release date
      anyOf:
        - enum:
            - 1
          description: europe
        - enum:
            - 2
          description: north_america
        - enum:
            - 3
          description: austrailia
        - enum:
            - 4
          description: new_zealand
        - enum:
            - 5
          description: japan
        - enum:
            - 6
          description: china
        - enum:
            - 7
          description: asia
        - enum:
            - 8
          description: worldwide
        - enum:
            - 9
          description: korea
        - enum:
            - 10
          description: brazil
    PlatformWebsite:
      type: object
      description: The main website for the platform
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        category:
          $ref: "#/components/schemas/PlatformWebsiteCategoryEnums"
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        trusted:
          type: boolean
        url:
          type: string
          description: The main platform address (URL) of the platform
    PlatformWebsiteCategoryEnums:
      type: object
      description: The platform website
      anyOf:
        - enum: 
            - 1
          description: official
        - enum: 
            - 2
          description: wikia
        - enum: 
            - 3
          description: wikipedia
        - enum: 
            - 4
          description: facebook
        - enum: 
            - 5
          description: twitter
        - enum: 
            - 6
          description: twitch
        - enum: 
            - 8
          description: instagram
        - enum: 
            - 9
          description: youtube
        - enum: 
            - 10
          description: iphone
        - enum: 
            - 11
          description: ipad
        - enum: 
            - 12
          description: android
        - enum: 
            - 13
          description: steam
        - enum: 
            - 14
          description: reddit
        - enum: 
            - 15
          description: discord
        - enum: 
            - 16
          description: google_plus
        - enum: 
            - 17
          description: tumblr
        - enum: 
            - 18
          description: linkedin
        - enum: 
            - 19
          description: pinterest
        - enum: 
            - 20
          description: soundcloud
    PlayerPerspective:
      type: object
      description: Player perspectives describe the view/perspective of the player in a video game.
      properties:
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        created_at:
          type: number
          format: date
          description: Date this was initially added to the IGDB database
        name:
          type: string
          description: The perspective
        slug:
          type: string
          description: A url-safe, unique, lower-case version of the name
        updated_at:
          type: number
          format: timestamp
          description: Date this was last updated in the IGDB database
        url:
          type: string
          description: The website address (URL) of the item
    ReleaseDate:
      type: object
      description: A handy endpoint that extends platform release dates. Used to dig deeper into release dates, platforms and versions.
      properties:
        category:
          $ref: "#/components/schemas/ReleaseDateCategoryEnums"
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        created_at:
          type: number
          format: date
          description: Date this was initially added to the IGDB database
        date:
          type: string
          format: timestamp
          description: The release date
        game:
          $ref: "#/components/schemas/Games/properties/id"
        human:
          type: string
          description: A human readable version of the release date
        m:
          type: number
          description: The month as an integer starting at 1 (January)
        platform:
          $ref: "#/components/schemas/Platform/properties/id"
        region:
          $ref: "#/components/schemas/ReleaseDateRegionEnum"
        updated_at:
          type: number
          format: timestamp
          description: Date this was last updated in the IGDB database
        y:
          type: number
          description: The year in full (2018)
    ReleaseDateCategoryEnums:
      type: number
      description: An enum of the date format
      anyOf:
        - enum:
            - 0
          description: YYYYMMMMDD
        - enum:
            - 1
          description: YYYYMMMM
        - enum:
            - 2
          description: YYYY
        - enum:
            - 3
          description: YYYYQ1
        - enum:
            - 4
          description: YYYYQ2
        - enum:
            - 5
          description: YYYYQ3
        - enum:
            - 6
          description: YYYYQ4
        - enum:
            - 7
          description: TBD
    ReleaseDateRegionEnum:
      type: number
      description: An enum of the region for the release date
      anyOf:
        - enum:
            - 1
          description: europe
        - enum:
            - 2
          description: north_america
        - enum:
            - 3
          description: austrailia
        - enum:
            - 4
          description: new_zealand
        - enum:
            - 5
          description: japan
        - enum:
            - 6
          description: china
        - enum:
            - 7
          description: asia
        - enum:
            - 8
          description: worldwide
        - enum:
            - 9
          description: korea
        - enum:
            - 10
          description: brazil
    ReleaseDateStatus:
      type: object
      description: An endpoint to provide definition of all of the current release date statuses.
      properties:
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        created_at:
          type: number
          format: date
          description: Date this was initially added to the IGDB database
        description:
          type: string
          description: The description of the release date status.
        name:
          type: string
          description: The name of the release date status
        updated_at:
          type: number
          format: timestamp
          description: Date this was last updated in the IGDB database
    Screenshot:
      type: object
      description: Screenshots of games
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        alpha_channel:
          type: boolean
        animated:
          type: boolean
        checksum:
          type: string
          description: Hash of the object
        game:
          $ref: "#/components/schemas/Games/properties/id"
        height:
          type: number
          description: The height of the image in pixels
        image_id:
          type: string
          description: The ID of the image used to construct an IGDB image link
        url:
          type: string
          description: The website address (URL) of the item
        width:
          type: number
          description: The width of the image in pixels
    Search:
      type: object
      description: Search IGDB and get the IDs of items matching your search
      properties:
        alternative_name:
          type: string
        character:
          $ref: "#/components/schemas/Character/properties/id"
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        collection:
          $ref: "#/components/schemas/Collection/properties/id"
        company:
          $ref: "#/components/schemas/Company/properties/id"
        description:
          type: string
        game:
          $ref: "#/components/schemas/Games/properties/id"
        name:
          type: string
        platform:
          $ref: "#/components/schemas/Platform/properties/id"
        published_at:
          type: string
          format: timestamp
          description: The date this item was initally published by the third party
        test_dummy:
          type: number
          description: Reference ID for Test Dummy
        theme:
          $ref: "#/components/schemas/Theme/properties/id"
    Theme:
      type: object
      description: Video game themes
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        checksum:
          type: string
          description: Hash of the object
        name:
          type: string
          description: The name of the theme
        slug:
          type: string
          description: A url-safe, unique, lower-case version of the name
        updated_at:
          type: number
          format: timestamp
          description: Date this was last updated in the IGDB database
        url:
          type: string
          description: The website address (URL) of the item
    Website:
      type: object
      description: A website URL, usually associated with a game
      properties:
        id:
          type: number
          description: The IGDB object unique identifier
        category:
          $ref: "#/components/schemas/WebsiteCategoryEnums"
        checksum:
          type: string
          format: uuid
          description: Hash of the object
        game:
          $ref: "#/components/schemas/Games/properties/id"
        trusted:
          type: boolean
        url:
          type: string
          description: The main platform address (URL) of the platform
    WebsiteCategoryEnums:
      type: object
      description: The platform website
      anyOf:
        - enum: 
            - 1
          description: official
        - enum: 
            - 2
          description: wikia
        - enum: 
            - 3
          description: wikipedia
        - enum: 
            - 4
          description: facebook
        - enum: 
            - 5
          description: twitter
        - enum: 
            - 6
          description: twitch
        - enum: 
            - 8
          description: instagram
        - enum: 
            - 9
          description: youtube
        - enum: 
            - 10
          description: iphone
        - enum: 
            - 11
          description: ipad
        - enum: 
            - 12
          description: android
        - enum: 
            - 13
          description: steam
        - enum: 
            - 14
          description: reddit
        - enum: 
            - 15
          description: itch
        - enum: 
            - 16
          description: epicgames
        - enum: 
            - 17
          description: gog
        - enum: 
            - 18
          description: discord
  securitySchemes:
    Authorization_Key:
      type: http
      in: header
      name: Authorization
      scheme: Bearer
    Client-ID:
      type: apiKey
      name: Client-ID
      in: header
      scheme: basic
tags:
  - name: Endpoints
