a:link {
	color: #af72ff !important;
}

a:visited {
	color: #bd86ff !important;
}

a:hover {
	color: #d5aeff !important;
}

a:active {
	color: #d5aeff !important;
}

.header-link:link {
	color: #f2f2f2 !important;
}

.header-link:visited {
	color: #e6e6e6 !important;
}

.header-link:hover {
	color: #d9d9d9 !important;
}

.header-link:active {
	color: #d9d9d9 !important;
}